[2019-11-03 10:22] maartentromp commented on #337
Good to hear @magr665! Unfortunately this important num-parameter is still not in the latest release of the ArcGIS Python API.

[2019-11-07 12:27] HakonD opened #543 "ProfileManager.save_as() - Local variable referenced before assignment."
API 1.7

When trying to save_as() to a new profile the code references an unassigned config variable.

![save_as](https://user-images.githubusercontent.com/889468/68389008-35d81d80-0162-11ea-9dfc-73c590a94078.PNG)

[2019-11-08 18:44] AtmaMani commented on #543
@HakonD I can reproduce this bug and have fixed it. It will be available in the next release.

[2019-11-08 18:44] #543 closed

[2019-11-12 11:52] holubvl3 opened #544 "Deep Learning graphic card requirement - CUDA Compute capability"
Hello,

I would like to ask, what is the minimal requirement to graphic card for deep learning in Esri (Python API learn module / ArcGIS PRO - Deep learning tools).

I have installed as documented - fastai=1.0.39 pytorch=1.0.0 torchvision, and it seems that everything works well. The probelm begins with data.show_batch() where I get error - **_Found GPU0 Quadro K4000 which is of cuda capability 3.

[2019-11-13 17:33] guyn2gis opened #546 "Issues Logging In with Logging In"
We have Active directory and Built In accounts, and our built in accounts are causing issues when logging in, where we cannot generate a token and thus fail to login.  Is there a License level that is needed to run the arcgis api.  I have no issue, but a user at the city is seeing issues.  Any ideas.  I am an admin, and he is not.

[2019-11-13 17:36] guyn2gis commented on #546
This is the error.

RuntimeError                              Traceback (most recent call last)
<ipython-input-3-d51495f0baac> in <module>
----> 1 gis = GIS("https://www.arcgis.com", "mdroberts18", "nora11406!")

C:\Users\tcronine\AppData\Local\ESRI\conda\envs\arcgispro-py3-clone4\lib\site-packages\arcgis\gis\__init__.py in __init__(self, url, username, password, key_file, cert_file, verify_cert,

[2019-11-15 16:23] kohn1001 commented on #522
Experiencing the same issue on Mac

[2019-11-15 16:24] achapkowski commented on #522
It has nothing to do with the OS, the item can't be found, just print out the results without the index value.

[2019-11-15 16:33] achapkowski commented on #522
@AtmaMani can you please look at the data and ensure it's on the test site?

[2019-11-15 16:34] achapkowski commented on #544
@Yongyao please verify the documentation is or is not correct.

[2019-11-15 18:32] jyaistMap commented on #537
Thanks @earlmedina
We've submitted a PR to fix this for the next release.

[2019-11-15 18:32] #537 closed

[2019-11-20 10:18] achapkowski commented on #305
This issue is resolved with the release of ArcGIS Pro 2.5.

[2019-11-20 10:18] #305 closed

[2019-11-24 21:13] coni99 opened #561 "could not convert string to float in prepare_data function in module arcgis.learn"
**Describe the bug**
Due to my Slovak locale settings my system is using comma (,) in float number values. But the code to convert a string to float using float() function requires a dot (.) value.

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]
**Screenshots**
![Snímka+obrazovky+(15)](https://user-images.githubusercontent.com/34895999/69501437-349a4500-0f05-11ea-982e-7ec15

[2019-12-02 19:37] BrettFrahm opened #563 "Update Group User Role"
I would like to be able to update a user's role in a group to be a Group Manager. I currently have a script reassigning ownership of all AGOL groups to our admin account, but I would like for the old owner to still be a group manager. I currently have to manually do this since there is no way to do it with the API.

I've also made an ArcGIS Idea: https://community.esri.com/ideas/17280-update-group

[2019-12-06 07:22] Sudeepa14 commented on #292
@AtmaMani Hi, Still there are imports in the sample files given. Can you mention a fix?

[2019-12-06 17:41] AtmaMani commented on #292
@Sudeepa14 could you point me to the location where you still find it?

[2019-12-08 12:45] Sudeepa14 commented on #292
Sorry I think That was found in a different different example. (Not from the samples.)

[2019-12-08 12:50] Sudeepa14 opened #567 "Error in Visualizing Route Layer on Arcpy Jupyter Notebook. (ArcGis)"
I tried to visualized route between two points using arcpy in jupyter notebook. Network module is activated in my esiri account. Even though it visualizes the map I cant see the route on that as the [tutorial][1] shows. Can someone help me here? Here is the code i used. I guess the problem with visualization. However I can see the following message on the console.
`[esri.views.LayerViewFactory] Fa

[2019-12-09 21:19] AtmaMani commented on #567
@Sudeepa14  in your snippet, you are not adding the computed route to the map. You are stopping at creating and displaying an empty map.

Further, try the new and revised doc at https://developers.arcgis.com/python/guide/part2-find-routes/ Please Reopen this issue if you still run into issues/

[2019-12-09 21:19] #567 closed

[2019-12-09 22:02] mikiekelly commented on #485
Has this actually been fixed? It doesn't appear to be working:

[code]
returns
[code]

[2019-12-09 22:12] BrettFrahm opened #569 "Add Web Layer - Stored Credentials"
How would I be able to Add a web item to arcgis online with stored credentials using the python api?

I've looked through the documentation found publish(), add(), and register(), but I did not see anything about being able to store credentials? Thanks!

[2019-12-10 10:10] HakonD opened #570 "curveRings in output from geometry.buffer() breaks display"
**Describe the bug**
The buffer method returns an object with curveRings, this seems to break display().

**To Reproduce**
In a Jupyter notebook:

[code]
error:
[code]
**Screenshots**
![curveRings1](https://user-images.githubusercontent.com/889468/70519327-0c812780-1b3c-11ea-9938-fa7ec9308719.png)
![curveRings2](https://user-images.githubusercontent.com/889468/70519349-130f9f00-1b3c-11ea-94c9-1f4f

[2019-12-10 17:09] JonathanBaileyTC opened #571 "Documentation for CategorySchemaManager.assign_to_items() is incorrect"
The documentation that describes the schema of the array of JSON objects to pass to the CategorySchemaManager.assign_to_items() method is incorrect. It indicates that the schema should be:

[code]

when in fact it should be:

[code]

[2019-12-11 14:37] BrettFrahm commented on #569
Issue closed. An ESRI analyst helped me with this. Example code below for anybody that is interested.

from arcgis.gis import GIS

gis = GIS('https://www.arcgis.com','arch0000')
token = gis._con.token

item_properties = {

"title":"TestAdd2",

"tags":"test",
"url":"https://sampleserver6.arcgisonline.com/arcgis/rest/services/Wildfire_secure/FeatureServer",

"type":"Feature Service",
"description":"

[2019-12-11 14:37] #569 closed

[2019-12-11 15:28] achapkowski commented on #569
To add the stored credentials you need to add three keys to your `item_properties`

[code]

[2019-12-11 15:36] achapkowski commented on #523
I'll take a look. thanks

[2019-12-11 15:50] achapkowski commented on #523
You need to change the `unit` value from `meters` to 9001.
See: http://resources.arcgis.com/en/help/arcobjects-cpp/componenthelp/index.html#/esriSRUnitType_Constants/000w00000042000000/

[2019-12-11 15:50] #523 closed

[2019-12-11 15:51] achapkowski commented on #525
I'll take a look thanks for reporting this.

[2019-12-11 18:02] achapkowski commented on #525
In version `1.7.0` this works:

[code]

or

[code]

[2019-12-11 19:36] HakonD commented on #570
Aha, it's a feature ;)

Display is not a big deal, but the curveRings are troublesome in many ways, eg. polygons with them are not useable as geometry.filters and I believe they deserve some scrutiny.
<img width="594" alt="snip_20191211203108" src="https://user-images.githubusercontent.com/889468/70653685-3f6b0e80-1c55-11ea-88e2-ea229b562b08.png">

Seems a simple workaround is to generalize the bu

[2019-12-12 13:23] bjarkithorh opened #572 "ContentManager.clone_item does not include resources when cloning a Web Scene"
ContentManager.clone_item does not include resources when cloning a Web Scene

I am running code to migrate data from AGOL to a Portal using the Python API

When I run this line below as a part of my code it copies all the items over including data and relations except for the resources used in Web Scenes.

target_item = cm.clone_items([source_item], owner=target_user, folder=folder_name)

Left is

[2019-12-13 15:16] BrettFrahm commented on #569
Hey @achapkowski ,

Thanks for the reply. So you didn't include the token aspect that the ESRI analyst gave me. Is providing the token in item_properties not necessary for this process to work? Thanks!

[2019-12-14 07:02] Sudeepa14 opened #573 "Getting the mapped road edge (segment, way) IDs from the polyline (route result path [arcgis generated result or result generated by other routing service])"
I want to get the mapped road edge(segment) list from the route results (using path attribute).

I tried to raise the problem in the community and didn't get any direct answer whether we could use arcgis python api to do this. I was suggested to use arcpy **Split By Attributes** and **Copy Traversed Source Features tool**. Is this possible in the api? My goal is to find **the closest** (by distanc

[2019-12-14 10:51] Sudeepa14 commented on #573
[This tutorial](https://community.esri.com/groups/navigator/blog/2019/09/05/transforming-polylines-into-route-layers-tutorial) shows some parts of the problems but I'm just wondering whether we can achieve that using the API.

[2019-12-16 10:31] achapkowski commented on #569
The `additem` method automatically appends a token to the REST call.

[2019-12-17 08:03] LinoSun opened #575 "detect_objects_using_deep_learning() got an unexpected keyword argument 'process_all_raster_items'"
**Describe the bug**
The bug appeared when I used the detect_objects_using_deep_learning method. .

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]
**Screenshots**
![image](https://user-images.githubusercontent.com/44741345/70976138-5e025700-20e6-11ea-853c-7d46f6f5d1d4.png)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Platform (pl

[2019-12-17 08:09] LinoSun commented on #575
@rohitgeo @ajturner

[2019-12-17 10:50] rohitgeo commented on #575
The model parameter in detect_objects() call should be a Deep Learning Model Package item on the portal. It is not a local Model object loaded using from_model.

[2019-12-18 01:02] LinoSun commented on #575
Many thanks

[2019-12-18 03:25] LinoSun commented on #575
But it still doesn't work. @rohitgeo

[code]

I noticed that the source code has changed, I don't know if it is related to this error。

![image](https://user-images.githubusercontent.com/44741345/71053261-e76a6580-2188-11ea-9456-4186954300e1.png)

![image](https://user-images.githubusercontent.com/44741345/71052561-aa9d6f00-2186-11ea-9152-e7b6be123f5c.png)

[2019-12-18 05:12] rohitgeo commented on #575
@rhea-j do you know about this error?

[2019-12-18 06:54] rhea-j commented on #575
@LinoSun
What version of raster analysis server are you using?

[2019-12-18 06:57] LinoSun commented on #575
10.8 Prerelease

[2019-12-18 08:09] rhea-j commented on #575
@LinoSun
process_all_raster_items parameter was added to the 10.8 server after the 10.8 pre-release, Python API assumes that the raster analysis server would have the parameter as it is a 10.8 server.

As a workaround, you can run this statement  before you run the detect_objects function

gis._tools.rasteranalysis.properties["currentVersion"]=10.71

Can you kindly try this workaround.

[2019-12-18 19:48] jeaneric opened #578 "clone_items crash for feature service URL with non-ascii character when cloning attachements"
**Describe the bug**
When using the clone_items function on a feature service that have non-ascii character in their service URL (é for example), the function crash when cloning attachments.

**code**
[code]

**Relevant error messages:**
[code]

**Expected behavior**
clone_items to successfully clone the feature service.

**Platform:**
- Windows server / Anaconda / Jupyter Notebook / Python 3.7.4

[2019-12-19 10:18] achapkowski commented on #578
@jeaneric thank you for reporting this, we will take a look and get back to you.

Does the Item's title have non-ascii characters or the feature service url?

[2019-12-19 10:50] LinoSun commented on #575
@rhea-j
Dear Rhea,this workaround worked.Thanks a lot.
And I got a surprise：
![image](https://user-images.githubusercontent.com/44741345/71167654-0bfd3500-2290-11ea-81c8-12c7b39e74f1.png)

I will continue to solve the problem, but I still want to ask if you have encountered this error.Thanks again.

[2019-12-19 13:25] rhea-j commented on #575
@LinoSun Can you kindly try passing values for model_arguments parameter.

[2019-12-19 13:50] divyanshj16 commented on #575
Here is an example.

[code]

[2019-12-20 02:30] LinoSun commented on #575
@rhea-j @divyanshj16 Thanks a lot.

[2019-12-20 02:30] #575 closed

[2019-12-20 17:56] jlishnunn commented on #485
I am getting a similar error in using query_domains():

from arcgis.gis import GIS
from arcgis.features import FeatureLayerCollection

gis = GIS("pro")
flc = FeatureLayerCollection(fs_url, gis)
flc_domains = flc.query_domains([1])

returns the error:

File "C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3-clone\Lib\site-packages\arcgis\features\layer.py", line 1910, in query_domains
    i

[2019-12-20 18:31] mikiekelly commented on #485
As a workaround you can access domains this way:

[code]

[2019-12-20 22:15] jlishnunn commented on #485
Thank you @mikiekelly

I re-purposed your function to create a list of coded domain values

[code]

[2019-12-24 16:29] DanCranford opened #579 "item.shared_with permissions issue"
There's an issue with the .shared_with property of an item object.  On certain items I'm accessing as an admin, I'm being told "You do not have permissions to access this resource or perform this operation."  I have tested the following:

- I'm able to access group information for groups within my org

- I'm able to access group information for groups in other orgs that I'm a member of

- The item

[2020-01-07 16:54] timhaverland-noaa commented on #579
I'm also seeing this in version 1.6.1.

[2020-01-07 17:54] jrmatchett opened #581 "Expose additional batch geocoding parameters"
It would be useful if the `batch_geocode` function included the additional parameters supported by the [`geocodeAddresses`](https://developers.arcgis.com/rest/geocode/api-reference/geocoding-geocode-addresses.htm) REST API, particularly `locationType` and `preferredLabelValues`.

[2020-01-13 20:52] CMPeng commented on #572
@jyaistMap Do you think you can please take a look at this issue since it is clone related? Thanks!

[2020-01-13 21:01] CMPeng commented on #561
@priyankatuteja  Can you please take a look at this issue and see if it is a bug that needs quick fix? thanks!

[2020-01-14 01:22] CMPeng commented on #579
When in version 1.7.1,
if accessed via credentials of the user who `favorites` the item,
`a_item.shared_with` returns
[code]
if accessed via credentials of the admin who owns the org of the previous user, then
`b_item.shared_with` returns
`{'everyone': True, 'org': True, 'groups': []}`

if accessed via credentials of the admin of a different org, then
`c_item.shared_with` returns
`{'everyone': Tru

[2020-01-14 01:24] CMPeng commented on #578
@jyaistMap when have time, can you please follow up with @jeaneric and @achapkowski to see if this bug shall be added to the current milestone? thanks!!

[2020-01-14 01:39] CMPeng commented on #573
@Sudeepa14
If you input analysis source (the resulting edge list (mapped road segment list, as you mentioned above) and the near source (the given point) are in the form of services, then you can use the API `arcgis.features.use_proximity.find_nearest` in getting the closest edge.

The reference to the tool and samples can be found in https://esri.github.io/arcgis-python-api/apidoc/html/arcgis.fea

[2020-01-14 02:14] CMPeng commented on #571
@JonathanBaileyTC
Can you please try the workflow again? With API version at 1.7.1, the `items` input has to be exactly the form as what is stated in the help doc, e.g.
[code]
or else, the returned list of status would be:

[code]

[2020-01-14 03:30] priyankatuteja commented on #561
@CMPeng This issue needs fix in export training data tool in Pro,  Python API does not need any fix.  Sangeet Mathew could look into this issue.

[2020-01-14 17:42] jyaistMap commented on #473
Closing this issue as the #478 has been merged.

[2020-01-14 17:42] #473 closed

[2020-01-14 21:47] CMPeng commented on #561
Thanks @priyankatuteja  - Do you mind closing this issue when it is done fixing, or being migrated to backlogs for ArcGIS Pro?

[2020-01-15 01:27] priyankatuteja commented on #561
You're Welcome! No worries @CMPeng I will do that as it gets fixed. Will also migrate it to Pro team backlogs.

[2020-01-15 04:09] samuello4 opened #586 "Fail to execute object detection on video"
I have followed every step in the Automate Road Surface Investigation Using Deep Learning sample notebook. After performing prediction on a single image, I can't process anymore as there is no road surface video provided. I would like to know how kind of metadata should be included for performing prediction on video?

I have taken a road surface video and use the API to do prediction on that video

[2020-01-15 06:00] Hiromu-Nakamura commented on #586
@samuello4 You need a MISB formatted csv file which includes lat, lon, timestamp, etc. representing your video's metadata. Pass the csv to "metadata_file" parameter of predict_video method.

You can find what kind of information should be included in the csv at Full Motion Video 1.4 user manual (p. 65).
https://community.esri.com/thread/209187-is-full-motion-video-14-user-manual-available-for-down

[2020-01-15 10:00] samuello4 commented on #586
@Hiromu-Nakamura Thank you so much for your information. I really appreciate it.

I have one more question.
Is there any suggestion on the automatic geotagging tool? It is possible to take a road surface video by an iPhone?

[2020-01-16 01:40] Hiromu-Nakamura commented on #586
@samuello4

Unfortunately, as long as I know, video file with MISB format is not popular in Japan where I am living in. Therefore, I am not familiar with this field as well.
However, there are [some discussions](https://community.esri.com/community/gis/imagery-and-remote-sensing/blog/2018/09/10/how-do-we-process-video-from-a-dji-drone-to-bring-it-into-fmv-for-arcgis) about which drones and tools c

[2020-01-17 01:57] CMPeng commented on #563
@BrettFrahm
There is currently no short-term plan for adding the `update user role` function into the Group Module. You might want to consider using these workarounds:
1. To remove the user (whose role is group user) from the group, and invite it back into the group as group_admin: e.g.
[code]
2. Or you can wrap up the POST request directly, such as:
[code]
Please let us know how these approaches

[2020-01-17 02:30] BrettFrahm commented on #563
@CMPeng

Both of those workarounds look excellent, I'll test these soon. Thank you for the reply and for looking into this. It would be nice to have a straightforward function for this, but these workarounds look satisfactory for the short-term.

[2020-01-17 02:31] CMPeng commented on #546
@guyn2gis
What's your domain name? Can you please try the command again, but with domain attached before the appearance of the user name, e.g.
`gisldap = GIS("https://portalname.domain.com/webadapter_name", "DomainName\\UserName", "password")`
More, please refer to https://developers.arcgis.com/python/guide/working-with-different-authentication-schemes/

[2020-01-17 19:36] CMPeng commented on #544
@priyankatuteja Can you please provide some leads onto this issue? Thanks!

[2020-01-21 10:47] priyankatuteja commented on #544
@holubvl3 Could you point me to  Esri documentation that states CC 3.0 is required.

[2020-01-21 11:20] holubvl3 commented on #544
Dear @priyankatuteja, because the only requirements about CC 3.0 is in Spatial Analyst page, we take over this recommnedation for whole PRO, since there is no infomation about such requriements for Image analyst nor Deep Learning toolset.

[2020-01-21 14:46] wiringa commented on #532
Would it be better to submit this as an Esri support case?

[2020-01-21 15:51] achapkowski commented on #532
No, it is being looked at.  It turns out not to be a Python API issue, rather a REST API issue.  The max result for any query has been set to a max of 10,000 records regardless of the number of records in the query.  This means there is a hard stop at `10,000`.  We will have logic inplace to prevent going over 10,000, and I will pass along this issue to the REST API folks.

[2020-01-21 21:17] CMPeng commented on #538
@pcsswamin Unfortunately, there is currently no Python API function that supports `healthCheck`, and no short-term plan in developing one. You might want to try a workaround, as to write your own function in supporting this, e.g.

[code]
Please let us know how this works out for you. thanks!

[2020-01-22 00:58] CMPeng commented on #520
@m1ckr1sk Can you please try replacing these three lines -
[code]
with
[code]
Instead of getting the hidden JSON representation of the server properties, you want to get the dict object directly. Please let us know how it works, thanks!

[2020-01-22 09:12] priyankatuteja commented on #544
Hi @holubvl3, Spatial Analyst requirements are only applicable for spatial analyst tools and ArcGIS Pro. The requirements for the deep learning support in ArcGIS API for Python are coming from the pytorch 1.0.0 and fastai 1.0.39 dependencies.

[2020-01-22 09:18] priyankatuteja commented on #544
As per Pytorch 1.0.0 release notes, it supports  CC 6.0 and higher. Please refer to the GPU requirements section in [Pytorch 1.0.0 release notes](https://docs.nvidia.com/deeplearning/frameworks/pytorch-release-notes/rel_19-01.html#rel_19-01).

[2020-01-22 09:19] holubvl3 commented on #544
Dear @priyankatuteja, thank you for clarification. I understand that, but it would be great to have the information also in ArcGIS PRO - Deep Learning toolset/Python/ArcGIS PRO requirements API learn module.

[2020-01-22 09:24] holubvl3 commented on #544
@priyankatuteja  thank you for the documentation. So there is a big update between version PRO 2.4, where some older Pytorch was used, because GPU (Quadro M2000) with CC 3.5 works fine in deep learning toolset.

So now in 2.5 do we need GPU with minimal CC 6.0, since there will be used the Pytorch 1.0.0?  Is that correct?

[2020-01-24 17:48] CMPeng commented on #518
Thanks @eykamp
The enhancement will be addressed in PR #2946, and we will notify here when it is installed.

[2020-01-24 17:50] priyankatuteja commented on #544
Hi, @holubvl3 Thanks for your feedback! It is a good suggestion to have this required information in ArcGIS Pro as well. Additionally, It is correct that CC for Pro 2.5 is 6.0 since  Pro 2.5 uses pytorch1.1.0, not 1.0.0. The requirement again comes from PyTorch.

[2020-01-25 07:40] holubvl3 commented on #544
Dear @priyankatuteja, thank you so much for clarification and consideration about updating the documentation.

[2020-01-25 07:40] #544 closed

[2020-01-25 11:32] bharanigurminder opened #589 "prepare_data from arcgis.learn modules fails to read the data in Azure N series VM"
**Describe the bug**
We had recently acquired azure's N series VM which are powered by the NVIDIA Tesla K80 card and the Intel Xeon E5-2690 v3 (Haswell) processor. We have been working with arcgis.learn module with VM's without GPU and were successfully able to work on unet semantic segmentation using the arcgis.learn.UnetClassifier classifier.

However, when we shifted to GPU enabled Azure N seri

[2020-01-27 11:32] achapkowski commented on #519
this has been addressed in a future release (v1.8.0)

[2020-01-27 11:32] #519 closed

[2020-01-27 11:44] achapkowski commented on #581
Fixed and added to v1.8.0 release of the API, thank you for suggesting this.

[2020-01-27 11:44] #581 closed

[2020-01-27 11:49] achapkowski commented on #589
@priyankatuteja can you please take a look at this?

[2020-01-28 07:33] Hiromu-Nakamura opened #590 "Properties and methods under Machine class return error."
**Describe the bug**
Properties and methods under Machine class return error.

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]
**Screenshots**
![2020-01-28_16h19_22](https://user-images.githubusercontent.com/20600894/73243164-4391c200-41ea-11ea-9236-bf4205ec02c7.png)

**Expected behavior**
Hardware properties are returned like below
![2020-01-28_16h22_45](https://user-images

[2020-01-29 07:28] Hiromu-Nakamura commented on #590
Should have written the environment of the server side.
- OS: Windows Server 2019
- Versino of ArcGIS Enterprise: 10.7.1

[2020-01-29 12:08] achapkowski commented on #590
So this is a federated machine?  Have you tried accessing the server through the GIS object?

[2020-01-29 12:26] Hiromu-Nakamura commented on #590
@achapkowski Thank you for your response.
Yes. I have a base deployment of the ArcGIS Enterprise in a single machine:
- ArcGIS Server (federated with the Portal for ArcGIS below)
- Portal for ArcGIS
- ArcGIS Data Store
- (Two) ArcGIS Web Adaptor (s)

[2020-01-30 11:09] Hiromu-Nakamura commented on #590
@achapkowski
Sorry again, I haven't answer the second question.

I think yes. I suppose specifying GIS object in the code above means it.
`machine = server.Machine(url = r"https://your-portal.com/server/admin/machines/YOUR-MACHINE.ESRI.COM", gis = gis)`

[2020-01-30 14:38] mschenker opened #592 "Error in population-exploration-dashboard Sample"
**Describe the bug**
The "Explore the population" Sample fails with the error message AttributeError: 'GeoSeries' object has no attribute '_delete_index'

**To Reproduce**
1. Open the sample notebook https://developers.arcgis.com/python/sample-notebooks/population-exploration-dashboard/
2. Click on "Try it live"
3. Enter your username and password in the first cell
4. Execute the Sample
5. Click o

[2020-02-04 01:03] capdragon opened #594 "Item cannot be shared with group having users_update_items=True"
**Describe the bug**
Using Python API, an Item cannot be shared with a group which has the users_update_items=True property.

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]

**Expected behavior**
I expect the item to be shared with the group which has users_update_items set to True.
In the code above, I would expect the item to be shared with both groups, but only is shared

[2020-02-12 02:14] CMPeng commented on #512
Fixed and added to v1.8.0 release, thank you @earlmedina for suggesting this.

[2020-02-12 02:14] #512 closed

[2020-02-14 00:37] jozsef-kepes opened #600 "Converting from GeoJson to ESRI Feature Set causes malformed ring data"
Using Python API 1.7.1 I have attempted to use the feature layer method edit_features() with a set of features that have been converted from GeoJson to an ESRI Feature Set. In doing so this error message was returned:
[code]

While looking at the converted ESRI Feature Set, the ring data had nulls inserted into the data. Upon closer inspection of the from_geojson() FeatureSet method in /arcgis/fea

[2020-02-17 09:02] bharanigurminder commented on #589
Since torchvision is a high level neural network API it uses Pillow to stack the data required for training. On Windows pillow has issues opening image files. On further researching, I found many bugs related to Pillow library having issues with tiff file and recommendations suggested to downgrade the libtiff library to make it work. Even after downgrading the libtiff module the issues still persi

[2020-02-19 14:36] EveryoneInOne opened #604 "Unet"
hi,
i  want to use Unet for do what i see in this notebook https://developers.arcgis.com/python/sample-notebooks/extracting-building-footprints-from-drone-data/
but it dont work for me, so i try do it with another feature layer (forest) and i aftee use data.show_batch(rows=2, alpha=0.7)
my results are
![image](https://user-images.githubusercontent.com/45751944/74843526-57819d00-532c-11ea-83bc-b591

[2020-02-20 05:52] Hlindemann opened #605 "clone_items crash when cloning ArcGIS Portal Version 3.10 Enterprise Version 10.4.1"
**Describe the bug**
When Cloning WebMap WebApp etc.. from ArcGIS Enteterprise 10.4.1 to 10.5.1 the clone tool crashes with the following error
int() argument must be a string, a bytes-like object or a number, not 'NoneType'", None

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Expected behavio

[2020-02-20 18:10] phill0304 opened #606 "Get 'returned NULL without setting an error' when saving spatially enabled dataframe to file geodatabase"
**Describe the bug**
When saving a spatially enabled dataframe to file geodatabase receiving 'returned NULL without setting error'

**To Reproduce**
Steps to reproduce the behavior:
create spatially enabled dataframe called sdf...
sdf.spatial.to_featureclass(location=r'c:/sandbox/CMCorn.gdb/planting_modified')
[code]

**Expected behavior**
dataframe saves to file geodatabase

**Platform (please co

[2020-02-20 18:12] achapkowski commented on #606
@phill0304 can you post your source data?

[2020-02-20 18:22] phill0304 commented on #606
[for_andrew.gdb.zip](https://github.com/Esri/arcgis-python-api/files/4232359/for_andrew.gdb.zip)

Source layer for spatially enabled dataframe is in gdb attached above. I access the file using the pd.DataFrame.spatial.from_featureclass() method. I make some modifications to dataframe then try to save to a new file and get error.

[2020-02-20 18:24] phill0304 commented on #606
@achapkowski Saving to shapefile works as expected

[2020-02-20 18:31] achapkowski commented on #606
@phill0304 thanks for the data, I'll take a look.

[2020-02-20 18:32] achapkowski commented on #606
Is the source a Hosted Feature Layer or are you reading the feature class in, and then exporting the results?

[2020-02-20 18:43] achapkowski commented on #606
can you tell me what you changed on the dataframe?  I am able to import/export it without issue.

[2020-02-20 18:44] phill0304 commented on #606
@achapkowski I access the data from the geodatabase directly (no hosted feature layer). I just tested to see if I could save without making modifications and the method worked fine. Only errors when I make modifications. I'm adding a field with unique guids to the dataframe and exporting.

here's code for adding uid to dataframe:

def add_id(infeatures):
    sdf = pd.DataFrame.spatial.from_feature

[2020-02-20 18:54] phill0304 commented on #606
@achapkowski I fixed the problem. If I convert the uuid to a string before adding to the list and then insert to dataframe it seems to work for me.

Thanks for your help

[2020-02-20 19:18] achapkowski commented on #606
UUID is not a string or a value that can be saved to a feature class.  You need to convert it to a string.  Do the following:

[code]

[2020-02-20 19:18] #606 closed

[2020-02-20 23:29] mateuspontesmoraes opened #607 "Export map gis.map()"
Hello,

I'd like to know if is possible export a map to PNG, for exemple:

![image](https://user-images.githubusercontent.com/11629395/74989584-888eca00-541f-11ea-86d9-1182e19ab942.png)

And to save the instance map like PNG

[2020-02-20 23:34] DavidJVitale commented on #607
Hi @mateuspontesmoraes , this can be done [`MapView.take_screenshot()`](https://developers.arcgis.com/python/api-reference/arcgis.widgets.html#arcgis.widgets.MapView.take_screenshot)

[code]

[code]

Let me know if you run into any issues, happy to help!

[2020-02-20 23:34] #607 closed

[2020-02-21 00:21] mateuspontesmoraes commented on #607
Hi @DavidJVitale thanks thank you very much!
But I'm yet this problem, I'm doing a script standalone, I readed the documentation that is only possible to use MapView.take_screenshot() on Jupyter Notebook.

Is there another possibilite to export my map with a pin to png?

Thank you @DavidJVitale

[2020-02-21 00:25] DavidJVitale commented on #607
@mateuspontesmoraes Unfortunately, this is only possible in a Jupyter Notebook environment. The `take_screenshot()` functionality relies on the ArcGIS JS API being loaded in a notebook. This does not happen when you are running a standalone script in a headless environment, so it's not possible using that function. Sorry about that, I'm not aware of any other way to get a screenshot.

[2020-02-25 00:03] jacobdadams opened #611 "item.metadata assignment fails for strings longer than 32,767 characters"
**Describe the bug**
The `item.metadata = ...` assignment fails for strings longer than 32,767 characters due to `os.path.isfile()` and NTFS limitations.

In `\arcgis\gis\__init__.py`'s `metadata()` method on line 7484, it checks if the value passed is a file using `os.path.isfile()`. This check will fail with `ValueError: stat: path too long for Windows` if your value is >32,767 characters long,

[2020-02-25 10:48] achapkowski commented on #611
@jacobdadams can you post your XML file and a feature class (zip it) that I can publish to associate with it?  I need to see what is causing the issue ie is it a Python API issue or REST issue.

If you don't/can't publish it here let me know and I can provide you with my email.

[2020-02-25 10:49] achapkowski commented on #605
The issue is fixed in the next release which will be release in March 2020.  Thank you for reporting.

[2020-02-25 10:49] #605 closed

[2020-02-25 10:53] achapkowski commented on #600
Please post your conda environment installs settings by doing:

[code]

Also please post your JSON files.

Are you using an environment with ArcPy or Not?  If so, what version of Pro are you using?

[2020-02-25 10:56] achapkowski commented on #604
Try setting in your script the following environment

[code]

Put this at the top of your script/notebook.

[2020-02-25 10:57] achapkowski commented on #546
Closing due to lack of response

[2020-02-25 10:57] #546 closed

[2020-02-25 10:58] #518 closed

[2020-02-25 13:42] Hlindemann commented on #605
Great Thank you Andrew

[2020-02-25 22:06] jacobdadams commented on #611
Here's the metadata [SGID.CADASTRE.Parcels_Davis.txt](https://github.com/Esri/arcgis-python-api/files/4252403/SGID.CADASTRE.Parcels_Davis.txt) (exported via arcpy.metadata's `saveAsXML()`, .xml changed to .txt for github) and [DavisParcels.gdb.zip](https://github.com/Esri/arcgis-python-api/files/4252392/DavisParcels.gdb.zip) as requested. We are aware that this metadata has a lot of old cruft in i

[2020-02-26 00:27] jozsef-kepes commented on #600
ArcPy is not being used and the python API is being run external of Pro. We are trying to run this on a AWS Lambda function. Looking at `/arcgis/featues/feature.py` provides some information as to why this might be a bug. Separate logic is being executed when ArcPy is not being used. We also noted the logic when its not using ArcPy only seems to take the first ring from a multi-polygon and leaves

[2020-02-27 23:53] leonard-psu opened #617 "Missing and/or denied access to data to evaluate notebook(s)"
I would like to use these notebooks for teaching purposes. Some notebooks require access to data not provided in the data folder. The most common problem is accessing data hosted at geosaurus.maps.arcgis.com which is not accessible to most users.

**Notebook**: detecting_settlements_using_supervised_classification_and_deep_learning
**Missing**: classificationPointsSaharanpur https://geosaurus.maps

[2020-03-04 15:44] DanCranford opened #622 "Add keywords to attachments."
I am trying to migrate data from one Survey123 feature service to another.  The attachments have keywords that are searchable with the Python API [Search Function](https://developers.arcgis.com/python/api-reference/arcgis.features.managers.html#arcgis.features.managers.AttachmentManager.search)
I don't see any way to add or update those keywords in the other functions on the Python or REST APIs.

[2020-03-04 17:03] achapkowski commented on #622
Thanks for your suggestion, we'll review it and get back to you.

[2020-03-05 22:51] drewlevitt opened #627 "df.spatial.to_featureclass() ignores OBJECTID AND discards DataFrame index"
**Describe the bug**
The behavior of `sedf.spatial.to_featureclass()` is unexpected and destructive. Calling this method on a Spatially Enabled DataFrame writes the SEDF out to a feature class, but the OBJECTIDs on those features are always reset to 1 through `len(sedf)`, even if the SEDF had OBJECTID set as its index. Furthermore, calling this method mutates the SEDF that it was called on: the SE

[2020-03-06 16:01] tyhayward opened #628 "training SDD model consistently causing DPC_WATCHDOG_VIOLATION windows bluescreen crash"
**Describe the bug**
When attempting to train a SSD model using arcgis.learn I am consistently running into DPC_WATCHDOG_VIOLATION.

It seems to be happening when I am using backbone='' arguments. It has happened using resnet50,101,152, densenet121. This is happening when using both the lr_find() function and then when training the model - typically when I am a few (3 or so) epochs in and then it

[2020-03-06 16:23] achapkowski commented on #628
Can you post your code so we can see if we can reproduce it or spot any errors?

[2020-03-06 16:31] tyhayward commented on #628
[code]

It has just crashed - bluescreened-  again running with no backbone argument (default resnet34) and this time it produced the following error:

[code]

[2020-03-06 17:29] priyankatuteja commented on #628
@tyhayward  I have run the same code on my system and just changed the data path.
![image](https://user-images.githubusercontent.com/39754605/76106365-b3227a80-5ffc-11ea-9ea2-3d51ca346395.png)

This works fine with backbone 'resnet50' as well as default backbone.

Can you clean reboot your system using steps at https://www.windowscentral.com/how-clean-boot-windows-10 and retry running it.

[2020-03-06 18:11] tyhayward commented on #628
@priyankatuteja it will be very difficult to clean boot windows 10 as this is a government PC. Are there no other less drastic steps that can be taken previously? Prior to the arcpro 2.5 update I had this workflow running fine.

[2020-03-06 18:26] achapkowski commented on #628
You can try forcing cuda to clean the cache, this could clean things up.

[code]

And restart your kernel.

[2020-03-08 11:44] gisfromscratch opened #629 "Support Jupyter environment >= 6.0.0"
I would love to work in the current Jupyter environment 6.0.1. It seems the map widget is only working with Jupyter environments <= 5.7.8.

Please support Jupyter environments >= 6.0.0.

[2020-03-09 07:56] tyhayward commented on #628
@priyankatuteja I attempted to run the same training data in arcpro over the weekend using the new geoprocessing tool 'train deep learning model' but unforturtunately I ran into the following error 40 mins intro training:

[code]

Note: ON a smaller subset of the training data (one i extracted to play about with hyperparameters on) I am too able to run a say 10 epochs and it runs lr_find() easyily

[2020-03-09 09:26] priyankatuteja commented on #628
@tyhayward I checked my system's cude version. It is 10.1, so  you may try downgrading the cuda version to 10.1. Meanwhile I am also trying to update it to 10.2 as you are using that. In case I am able to reproduce the same error.

[2020-03-09 10:29] achapkowski commented on #629
@gisfromscratch can you post your python packages in your environment?

[code]

This will help us reproduce what you are seeing.

[2020-03-09 20:04] rvg296 commented on #594
@capdragon I think the default parameter `allow_members_to_edit` in `item.share` is `False`. We have to change the parameter to be True in order for that to be shared with groups that have `users_update_items=True`. I have tested this and it worked fine in version 1.7.1.
Here is a link for the API reference.
[https://developers.arcgis.com/python/api-reference/arcgis.gis.toc.html?highlight=item%20s

[2020-03-10 03:55] rvg296 commented on #627
@drewlevitt  Thanks for bringing up this issue. Upon doing some research on this issue, I just found out that this happening due to `df.reset_index()` which is present in the function `def to_featureclass` in the `fileops.py` file which is located at `C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\Lib\site-packages\arcgis\features\geo\_io` which is the default installation path of `arcg

[2020-03-10 07:28] Hlindemann opened #630 "ArcGIS API 1.8 SAML App Log In Crash on self._me() Against AGOL _portalpy.py get_user(self, username)"
**Describe the bug**
When Trying to Login with App ID api crashes when SAML is configured

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]
**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/21313366/76289269-65826800-62b1-11ea-994a-322515e13c9d.png)

![image](https://user-images.githubusercontent.co

[2020-03-10 17:01] drewlevitt commented on #627
Thanks @rvg296! For now I am just using another field (say, `ORIG_OID`) to store the original OBJECTIDs, because there are plenty of other arcgis and arcpy tools that don't preserve OBJECTID. A typical example would be `arcpy.analysis.Select`.

But I do hope we see a response from Esri and I would love to see added functionality to `to_featureclass` that enables the user to specify a SEDF column t

[2020-03-10 22:04] gisfromscratch commented on #629
@achapkowski Sure, here it is:
[conda-list.txt](https://github.com/Esri/arcgis-python-api/files/4315019/conda-list.txt)

[2020-03-12 15:06] capdragon commented on #594
Sure enough! It worked. Thanks @rvg296

[2020-03-12 15:06] #594 closed

[2020-03-16 10:09] achapkowski commented on #630
I'll take a look, thank you for reporting

[2020-03-16 10:16] achapkowski commented on #630
@Hlindemann can you answer some questions:

- do your users names have `.` in them?
- what type of security is your portal?  BUILT-IN? something else?

Thank you

[2020-03-16 10:54] Hlindemann commented on #630
Hi Andrew,
This is using SAML and the Microsoft account it is a Enterprise Login
for that I have to use a token generated by a registered application.

It seems that the users are created by default as below it takes the email and appends the domain
The username format is **username@esri_southafrica.com_esriza**
**do your users names have . in them?**
       yes

This is against AGOL

![image](htt

[2020-03-18 14:20] anthonyljones commented on #462
Any update on this?

[2020-03-24 12:38] achapkowski commented on #462
I tried to reproduce your error using a CSV file I had and it worked without issue.

The biggest gotcha with overwrite:

1. The file name needs to be exactly the same as the original file name
2. Ensure you can geocode locations.

[code]

[2020-03-24 12:38] #462 closed

[2020-03-25 16:10] ajkluber opened #651 "TypeError when displaying MultiPoint in Jupyter notebook"
**Describe the bug**
Jupyter notebook throws `TypeError` when trying to display `MultiPoint` geometry object. The screenshot below shows that the object still prints fine in the output cell, but the bug in `extent` might break other things that I'm not aware of.

From the source, I see that this chunk in `geometry._types` tries to access elements of `self['points']` using a key, but the [specifica

[2020-03-25 20:08] anthonyljones commented on #462
Still not able to get this to work.

I'm also trying it with Jupyter notebook and am not having success.

https://developers.arcgis.com/python/sample-notebooks/overwriting-feature-layers/

Can you get the above example to work?

On Tue, Mar 24, 2020 at 8:38 AM Andrew <notifications@github.com> wrote:

[2020-03-31 06:23] rvg296 commented on #651
Seems like there is an issue with 1.8.0 version. It worked fine for me in 1.7.0 version.
![image](https://user-images.githubusercontent.com/17813389/77993701-42fed000-72ee-11ea-92de-7a1faad28cb2.png)

[2020-04-02 00:34] fabanc opened #656 "group.remove_users is not called correctly in notebook "move_existing_user_content_to_a_new_user""
**Describe the bug**
The code that removes a user from a group in the notebook `move_existing_user_content_to_a_new_user` fails.

**To Reproduce**
Steps to reproduce the behavior:
Prior to running the notebook:
 - Make sure the user define by variable `old_userid` is a member of a group (not an owner)

[code]
error:

The API will fail to remove the user from the group and the pring statement will

[2020-04-04 10:46] boundaryT opened #659 "NameError: name 'england_weather_stations_layer' is not defined"
`#Access spatial dataframe
england_weather_stations_layer_sdf =pd.DataFrame.spatial.from_layer(england_weather_stations_layer)
england_weather_stations_layer_sdf.head()`

<ipython-input-8-9a2bdbb42e62> in <module>
      1 #Access spatial dataframe
----> 2 england_weather_stations_layer_sdf = pd.DataFrame.spatial.from_layer(england_weather_stations_layer)
      3 england_weather_stations_layer_sdf.

[2020-04-12 16:31] priyankatuteja commented on #659
@moonlanderr Can you please look into this.

[2020-04-12 16:33] priyankatuteja commented on #659
@boundaryT You need to make sure that you have got this cell running successfully

[2020-04-12 16:33] priyankatuteja commented on #659
@boundaryT You need to make sure that you have got this cell running successfully

[2020-04-13 03:42] priyankatuteja commented on #656
@fabanc Thanks for your feedback! I Will work on improving the doc. Let us know as and when you get such issues.

[2020-04-13 03:42] priyankatuteja commented on #656
@fabanc Thanks for your feedback! I Will work on improving the doc. Let us know as and when you get such issues.

[2020-04-13 03:53] priyankatuteja commented on #604
@EveryoneInOne Let us know if this fix worked for you. Thanks!

[2020-04-13 03:54] priyankatuteja commented on #604
[code]

You can try this alternatively if needed.

[2020-04-13 04:21] priyankatuteja commented on #589
One way we can try to find out the issue with your environment is:
1. Open your ArcGIS folder and ''C:\Users\username\anaconda3\envs\arc162\Lib\site-packages\arcgis\learn\_data.py''. This is roughly the path where you will find this file. Here you see the code as provided in screenshot below

![image](https://user-images.githubusercontent.com/39754605/79091463-f7770800-7d6a-11ea-8bf9-f23d821cc5f2.

[2020-04-13 04:21] priyankatuteja commented on #589
One way we can try to find out the issue with your environment is:
1. Open your ArcGIS folder and ''C:\Users\username\anaconda3\envs\arc162\Lib\site-packages\arcgis\learn\_data.py''. This is roughly the path where you will find this file. Here you see the code as provided in screenshot below

![image](https://user-images.githubusercontent.com/39754605/79091463-f7770800-7d6a-11ea-8bf9-f23d821cc5f2.

[2020-04-15 22:43] akochman opened #674 "spatial_join "df1 must be a spatial dataframe""
**Describe the bug**
I have two spatially enabled dataframes sdf1 and sdf2.
sdf1 = GeoAccessor.from_xy(df, x_column = 'ftEasting', y_column = 'ftNorthing', sr=2228)
sdf2 = GeoAccessor.from_featureclass(flora_pres_burn_area)

sdf1 are points from a SQL query, brought into a pandas dataframe with df = pd.read_sql_query(query, con=engine) then converted into sdf1 using GeoAccessor.from_xy

sdf2 is ju

[2020-04-16 06:00] priyankatuteja commented on #674
Hi @akochman Can you provide the two data frames you are trying to join, need those to reproduce it.

[2020-04-16 09:41] achapkowski commented on #674
What happens if you do a df1.spatial.name and df2.spatial.name?

Do you get an output for each?

[2020-04-16 16:47] akochman commented on #674
@priyankatuteja I'm creating some dummy data right now in sdf1test and sdf2test. Dropping csv's of them in the zip.

@achapkowski the output of sdf1.spatial.name and sdf2.spatial.name is 'SHAPE'. sdf1test and sdf2test just had the same error.

![image](https://user-images.githubusercontent.com/18711565/79481586-9185bd00-7fc4-11ea-9249-b3521be3efb0.png)
![image](https://user-images.githubuserconten

[2020-04-17 10:00] priyankatuteja commented on #674
@akochman It is interesting to see that the df1 you shared, has invalid geometry. To confirm if
`GeoAccessor.from_xy(df1, "ftEasting", "ftNorthing", sr=2228)` worked fine for you. I dropped the  'SHAPE' column and re-ran the command to create a spatially enabled data frame similar to df1 you shared.
It turns out that I am able to make it spatial with valid geometry. See image below:
![image](https

[2020-04-20 19:52] jholycross commented on #571
@CMPeng Working today with AGOL, I'm observing the same behavior that Jonathan mentioned. When I use the assign_to_items input as documented in the help, all of my returned statuses are false.  When I use the format that he mentioned (and is the same as the REST API updateCategories), my changes are successful and return True.

[2020-04-22 20:19] CMPeng commented on #571
@jholycross Can you please check if you have the latest ArcGIS API for python? By running the codes below:
[code]
There had been a bug fix in April 2019, which should support reading in the categories in dict object since then (1.7). Please confirm that you have installed version 1.7 or above. As of today, the latest version is 1.8.

[2020-04-24 15:36] cdflint commented on #589
Similar issue to the OP.

![image](https://user-images.githubusercontent.com/25038329/80229222-1b193880-861e-11ea-8806-7ea1f18e2722.png)

error:

![image](https://user-images.githubusercontent.com/25038329/80229261-2c624500-861e-11ea-91eb-29e26513c1e7.png)

Trace back to imports from arcgis.learn._data seem to show that there is a broken dependency to a function in fastprogress for the 'progress_b

[2020-04-26 06:36] priyankatuteja commented on #589
@cdflint The fast progress version seems to be incompatible.

Please try the following command
[code]

This will update the ArcGIS version to 1.8.0 FYI

[2020-04-26 12:41] cdflint commented on #589
When running that command I got an update for arcgis 1.7.0 to 1.7.1. Also note the conda install command thrown in the original error statement.  It specifically says to install fastai v1.0.54.

Fixing the fasprogress import statements in:

arcgis.learn.models._maskrcnn_utils
arcgis.learn.models._ssd_utils

From:
from fastprogress important progress_bar
To:
from fastprogress.fastprogress import pr

[2020-04-26 15:18] priyankatuteja commented on #589
@cdflint What version of Pro are you using?

[2020-04-26 15:22] cdflint commented on #589
Pro 2.5.0

Using a cloned environment of arcgispro-py3 to install external python modules.

[2020-04-26 16:53] priyankatuteja commented on #589
@cdflint I am trying to reproduce the same error at my end, meanwhile could you do the follwoing:
Open python command prompt and run command "proswap arcgispro-py3" if default is not set to the original environment. Then create a fresh clone using "conda create --name DeepLearningEnv --clone arcgispro-py3". To install all required dependencies for arcgis.learn module, run "conda install -c esri ar

[2020-04-27 11:21] Boukary opened #676 "Map viewer does not work with Jupyter"
Map viewer does not work on ArcGIS Python API, with Jupyter notebook and Jupyter lab also
Any idea on how to solve this issue?

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]
**Screenshots**
![image](https://user-images.githubusercontent.com/8126372/80365024-780f2b80-8876-11ea-9e77-348086bed21d.png)
![image](https://user-images.githubusercontent.com/8126372/80366274-88280a8

[2020-04-27 11:44] achapkowski commented on #676
Can you open your browser console and see if any messages are printed there?

[2020-04-27 11:45] achapkowski commented on #676
Do you have themes applied to the Jupyter notebook?  Try removing the themes and see what happens.  Themes overwrite default css and can effect widgets.

[2020-04-27 14:42] cdflint commented on #589
On a clean conda env this does resolve the issues mentioned above, the cause for the 'out of sync package versions' was that they were not being pulled from the esri channel directly, but from the one of various others (fastai, anaconda, etc.).  Like mentioned above the pillow and fastprogress versions in the esri repo are 6.2.2 and 0.1.21 respectfully.

As soon as someone needs a package that isn

[2020-04-27 15:04] priyankatuteja commented on #589
@cdflint  We have provided compatible versions of the packages in the Esri channel to address these issues. Glad to know the issue is resolved with the clean cloned env and using the Esri channel.

[2020-04-27 15:04] #589 closed

[2020-04-27 15:30] cdflint commented on #589
To reproduce use the install command in the Exceptions raised by arcgis.learn.prepare_data by either of the error statements posted by myself or OP.

original Exception:
[code]

my Exception:
[code]

Suggest changing installation_steps for 'win32' to match ['linux','darwin'] in _data.py to reflect the working code so future errors thrown won't lead down the same path.

### ref arcgis.learn._data.p

[2020-04-27 21:32] Boukary commented on #676
Hi @achapkowski

Thanks for your reply

I put the default theme as requested.

in Jupyter Lab, I see this error on the console :
![image](https://user-images.githubusercontent.com/8126372/80422776-53df3900-88ce-11ea-958a-a4e2a9e764ce.png)

in Jupyter Notebook, I see this error on the console :
![image](https://user-images.githubusercontent.com/8126372/80422892-7e30f680-88ce-11ea-9345-a68776f137e1.

[2020-04-29 13:36] phill0304 opened #679 "empty geometry error when applying spatially enabled dataframe's to_featureclass"
Pro 2.5. When I try to execute to_featureclass on my spatially enabled dataframe I get the following run time error: The operation was attempted on an empty geometry.

I have run a script which checks for empty geometries in my dataframe and I don't detect any.

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]
**Screenshots**
If applicable, add screenshots to help explain you

[2020-04-29 14:26] achapkowski commented on #679
@phill0304 can you provide the FGDB for this issue?

[2020-04-29 14:26] achapkowski commented on #679
Also don't set SHAPE columns values to -999999

[2020-04-29 14:41] ATL2001 opened #680 "feature layer related records query returns dictionary that does not create a featureset when passed to the from_dict() function"
According to the API doc, it looks to me like the feature layer query_related_records function should return a feature set, however it seems to be returning a feature set, not a big deal but worth mentioning.

the larger issue for me is that when the the resulting dictionary is sent to the FeatureSet.from_dict() function, the resulting feature set from that function has no features

**To Reproduce

[2020-04-29 15:19] phill0304 commented on #679
[for_andrew.zip](https://github.com/Esri/arcgis-python-api/files/4552519/for_andrew.zip)

@achapkowski attached gdb with states and the csv I'm working with.  The csv needs some cleanup before it can be joined to the states. Also attached the workbook file with code that does all this plus creating the join and trying to export the file to fc. There are a couple paths that need to be reset to run.

[2020-04-29 16:17] knoopum commented on #532
Any progress on resolving the 10000 limit yet? Thanks!

[2020-04-29 19:06] phill0304 commented on #679
![image](https://user-images.githubusercontent.com/61289446/80635731-ec3a0280-8a21-11ea-8892-2c531e7d8b56.png)
@achapkowski just a little more info: screenshot shows the result of is_empty run on the spatially enabled dataframe GeoSeriesAccessor -- all False -- so wondering if something else is wrong with data.

[2020-04-30 18:44] achapkowski commented on #571
This is resolved and verified at v1.8.1

[2020-04-30 18:44] #571 closed

[2020-05-04 13:18] Boukary commented on #676
@achapkowski do you have any idea about when the next release ? is it planned to fix some of those issues?

[2020-05-04 13:42] achapkowski commented on #676
@Boukary it looks like for Jupyter notebooks the widgets are not installed and ipywidgets is not installed either, so it won't work.

Is this running on a local instance of JupyterLab and Notebook?

### The map widget isn't displaying
Try running these commands:
* ```jupyter nbextension install --py --sys-prefix arcgis``` (for enabling the map widget for Jupyter notebook)
* ```jupyter nbextension

[2020-05-04 13:45] achapkowski commented on #676
In regards to a release, we are planning a release around User Conference 2020.  We will take a look at this issue but I can't promise we'll have a fix because first we need to triage the issue.  This could be something isolated to your environment.  Ensure you remove ad blockers as well and re-install the API.

[2020-05-04 18:48] akochman commented on #674
Hi @priyankatuteja
Sorry for the delay, it seems the sdf1.spatial.join(sdf2) works for me now.
I believe the issue was linked to using the deprecated method.

Thank you for pointing me to this updated guide.

[2020-05-04 18:48] #674 closed

[2020-05-04 18:58] Boukary commented on #676
@achapkowski forget it, it was a very stupid mistake, I didn't know that you should install nodejs and nmp with those [jupyter lab extensions](https://developers.arcgis.com/python/guide/using-the-jupyter-lab-environment/) to make it work.

Thanks anyway
Looking forward to UC2020

[2020-05-04 19:01] #676 closed

[2020-05-04 19:21] phill0304 commented on #679
@achapkowski I resolved this by fixing a field name that had illegal characters.  Still the empty geometry error is a bit worrisome since I had no issues with my geometry.

[2020-05-05 13:42] ATL2001 opened #681 "Implement appending to existing featureclass when overwrite=False on spatialDataFrame.to_featureclass()"
According to the to_featureclass function in a SpatialDataFrame documentation, the overwrite function:

overwrite | Optional boolean. True means to erase and replace value, false means to append

however when you specify an existing feature class as the output location and specify overwrite=False the API raises a value error 'overwrite set to False, Cannot overwrite the table.'

**Describe the sol

[2020-05-05 14:32] phill0304 opened #682 "Unable to publish spatially enabled dataframe to feature layer"
**Describe the bug**
I am getting a generic error ('job failed' when trying to publish a spatially enabled dataframe to a feature layer.

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]
**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/61289446/81077768-07d65a80-8eb3-11ea-9550-8e4776658bb8.png)

**

[2020-05-05 14:55] achapkowski commented on #682
Can you please add a sample set of the data as a pickle?

Instruction are here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_pickle.html

[2020-05-05 16:18] phill0304 commented on #682
[data.zip](https://github.com/Esri/arcgis-python-api/files/4582109/data.zip)
@achapkowski Here's the zipped pickle of my sedf

[2020-05-06 15:22] BrettFrahm opened #683 "advanced_search Documentation"
**Describe the bug**
Seeing this error when trying to run advanced_search from ContentManager. Documentation doesn't even specify a 'q' or 'searchUserAccess' and 'bbox' and 'categories' are listed as optional in documentation.

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]

**Platform (please complete the following information):**
 - OS: Windows 10
 - Python API Version: 1

[2020-05-06 15:36] achapkowski commented on #683
set query to *

[2020-05-06 16:16] #683 closed

[2020-05-07 12:50] Hiromu-Nakamura commented on #476
Since the [doc has been written](https://developers.arcgis.com/python/api-reference/arcgis.gis.nb.html#module-arcgis.gis.nb), close this issue.

[2020-05-07 12:50] #476 closed

[2020-05-08 21:06] andresfchamorro opened #686 "Error with spatially enabled dataframe from local shapefile"
**Describe the bug**
spatial.to_feature_collection triggers error with local shapefile
- Using arcgis and pyshp installed through anaconda
- Arcgis Online/Enterprise has been authenticated

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]

**Platform (please complete the following information):**
 - OS: Windows
 - Browser: Chrome
 - Python API Version: 1.8.0

[2020-05-10 00:43] ZhiliWang opened #687 "Problem With Accessing GIS Python Playground?"
Hi. I am researching a topic that can really benefit from this sample: https://developers.arcgis.com/python/sample-notebooks/identifying-suitable-sites-for-als-clinics-using-location-allocation-analysis/

I tried to run the following line both locally and your "Try It Live", and both platforms generated similar errors:

[code]
error from Live:
[code]

error from Local:
[code]

**Platform (please c

[2020-05-11 18:03] MSDuncan82 commented on #479
Followed the instructions in the `using-the-jupyter-lab-environment` and still getting the error `Error displaying widget: model not found`.

In a new conda environment with python=3.7:
conda install nodejs
conda install -c esri arcgis (version 1.8.0)
conda install -c conda-forge jupyterlab
jupyter labextension install @jupyter-widgets/jupyterlab-manager
jupyter labextension install arcgis-map-ipy

[2020-05-14 07:24] moonlanderr opened #689 "fcn.fit() without lr, gives division by zero error"
---------------------------------------------------------------------------
ZeroDivisionError                         Traceback (most recent call last)
<ipython-input-20-c022977374e0> in <module>
----> 1 fcn.fit(10)

~\.conda\envs\arcgis181tabular\lib\site-packages\arcgis\learn\models\_arcgis_model.py in fit(self, epochs, lr, one_cycle, early_stopping, checkpoint, tensorboard, **kwargs)
    543

[2020-05-14 07:37] #689 closed

[2020-05-18 02:49] jessenestler opened #695 "select_by_location fails on spatial dataframe"
**Describe the bug**
SpatialDataFrame.select_by_location() fails when arcpy is not installed

**To Reproduce**
[code]
error:
[code]
**Expected behavior**
I expect the select_by_location on spatial dataframes to accept `shapely` geometry types and set-theoretic comparisons as input, not just `arcpy`. At the very least, having the documentation note that the operation is only possible with `arcpy` w

[2020-05-18 13:28] ghaefele opened #697 "GeoAccessor/to_featureclass: Wrong character encoding within text fields"
**Describe the bug**
Using the function **to_featureclass()** from **arcgis.features.GeoAccessor** the  text fields within the resulting FeatureClass (FileGDB) have a wrong character encoding. Some diacritics gets lost.

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Screenshots**

Result within ArcGIS Pro:
![image](https://user-images.githubusercontent.com/5622300/82218048-91f2da00-99

[2020-05-18 13:47] ghaefele opened #698 "Add support for pandas nullable integer data type (Int64)"
**Description**
An export with **to_featureclass (GeoAccessor)** from a pandas dataframe (sedf) fails, if the dataframe has a field with a **nullable integer data type** (**I**nt64)

**Describe the solution you'd like**
Add support for pandas "**Int64**" (nullable integer data type) and [pandas.NA](https://pandas.pydata.org/pandas-docs/stable/user_guide/integer_na.html).

[2020-05-25 10:22] LinoSun opened #700 "jupyter kernel always restarts when training PointCNN model."
**Describe the bug**
Jupyter kernel always restarts when training PointCNN model.Maybe cased by large IO requests,I don't know.Has anyone meets the same issue?

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
details in attached picture
**Screenshots**
![image](https://user-images.githubusercontent.com/44741345/82804277-920f4e80-9eb4-11ea-9cd4-b40ec28771d7.png)

**Platform (please

[2020-05-26 02:21] LinoSun commented on #700
@AtmaMani

[2020-06-01 15:23] pchristensengis opened #702 ""_types.py"

[2020-06-01 15:40] #702 closed

[2020-06-01 16:15] pchristensengis opened #703 ".offline_areas.create() UnboundLocalError: local variable 'layer0_obj' referenced before assignment"
I am using Jupyter Notebooks to automate some ArcGIS Online (AGOL) tasks. I have also tested this code in ArcGIS Pro and in Spyder with no luck. All using the same cloned environment. Cloned using ArcGIS Pro.

This specific section of my workflow involves creating offline areas to be used in Explorer for ArcGIS. The layers and maps do not have Editing enabled, but they do have Sync enabled. There

[2020-06-08 07:18] ssj4rit opened #707 "TypeError when I try to log in GIS"
**Describe the bug**
The following code gives me an error:

gis = GIS('http://www.arcgis.com',username,password)

username is of the form firstname.lastname@ctlgis

error:
[code]

**Platform (please complete the following information):**
 - OS: Windows
 - Python API Version: 1.8.0

[2020-06-08 19:54] jhevenor commented on #440
Same boat here. Standalone server (no portal).  I can create the Server object and can read its url, and svr.content.url,  but most of the properties described in the documentation are missing (machines, users, etc).

This bug is months old with no comment, missing two releases.  Has anyone got this working? Have I missed something on my end (running v1.8.0)?

[2020-06-08 20:26] CheckMinus commented on #440
The issue got worse at 1.5.0+
Below is a link to my fix for 1.6.0+
I have not tested on 1.8.0 but the code base appears at first glance to unchanged.

https://community.esri.com/message/896496-re-error-connecting-to-arcgis-server-with-arcgis-python-api?commentID=896496#comment-896496

[2020-06-09 00:46] jyaistMap commented on #440
hi @jhevenor @CheckMinus
I was able to connect to a stand-alone server (with web adaptor installed) using the following. Does this work for you?

[code]

[2020-06-09 08:00] carolinestudent opened #708 "Train deep learning model _ xml or text declaration not at start of entity: line 1, column 1"
First, I apology for any english errors, and if my issue doesn't belong here, please fell free to give me directions on where to post it.

**Describe the bug**
I am trying to train a deep learning model to detect cracks on concrete images. I'm using ArcGis Pro and its tools (export training data, train deep learning model, detect object using deep learning model). For a while, the training compute

[2020-06-09 17:59] soufianemns opened #710 "Unet simple "data.show" commande : RuntimeError: CUDA error: no kernel image is available for execution on the device"
**Describe the bug**
Hi everone im traing to exute this simple : https://developers.arcgis.com/python/sample-notebooks/extracting-building-footprints-from-drone-data/, but when it come to " data.show_batch(rows=2, alpha=0.7) " i get this error :  "RuntimeError: CUDA error: no kernel image is available for execution on the device"

![image](https://user-images.githubusercontent.com/61411620/8418289

[2020-06-09 18:02] soufianemns commented on #710
@priyankatuteja Need Help plss !

[2020-06-09 18:06] rohitgeo commented on #710
From the error description and the link at https://github.com/pytorch/pytorch/issues/31285 it looks like your GPU might not be supported by PyTorch.

[2020-06-09 18:14] soufianemns commented on #710
@rohitgeo Thanks for your reply!

But as shown in the figure, the flag of GPU available is Ture. I am confusing…

[2020-06-09 18:48] rohitgeo commented on #710
The compute capability is low, and didn't look like it's supported on recent versions of PyTorch.

You can use CPU though, by seeing this environment variable:

os.environ["CUDA_VISIBLE_DEVICES"]=""

[2020-06-10 04:18] priyankatuteja commented on #710
@soufianemns What Rohit mentioned is correct. If you want to still run it, you'll have to build PyTorch from the source I think as mentioned in https://github.com/pytorch/pytorch/issues/31285.
As a workaround, you can try rolling back to Pytorch 1.1.0 and fastai 1.0.54 with ArcGIS 1.8.0. I am not 100% sure if that would work, but worth trying.

[2020-06-10 05:01] #707 closed

[2020-06-10 05:34] rtaneja9719 opened #711 "Fatal Python Error: Cannot recover from stack overflow"
**Describe the bug**
Was using arcgis.network.analysis.generate_origin_destination_cost_matrix, but code hung for around 30 minutes before erroring out. When I ran it again after a bit, it worked.

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Expected behavior**
Successful call.

**Platform (p

[2020-06-12 04:59] priyankatuteja commented on #708
@carolinestudent Thanks for reporting it. I'll be verifying it at my end and would get back to you at the earliest possible.

[2020-06-12 05:00] priyankatuteja commented on #708
@carolinestudent Thanks for reporting it. I'll be verifying it at my end and would get back to you at the earliest possible.

[2020-06-12 05:00] priyankatuteja commented on #708
@carolinestudent Could you provide us sample data?

[2020-06-12 05:01] priyankatuteja commented on #708
@carolinestudent Could you provide us sample data?

[2020-06-12 06:31] priyankatuteja commented on #708
![image](https://user-images.githubusercontent.com/39754605/84471355-cb143500-aca2-11ea-98e2-74bb11b93727.png)

Env: ArcGIS Pro 2.5 and ArcGIS version 1.8.0

I tested the same with some data exported using the export training data tool, it works fine at my end. If you can provide more details about your versions, I can look into it. One suggestion is to restart ArcGIS Pro and try running RetinaNet

[2020-06-12 06:32] priyankatuteja commented on #708
![image](https://user-images.githubusercontent.com/39754605/84471355-cb143500-aca2-11ea-98e2-74bb11b93727.png)

Env: ArcGIS Pro 2.5 and ArcGIS version 1.8.0

I tested the same with some data exported using the export training data tool, it works fine at my end. If you can provide more details about your versions, I can look into it. One suggestion is to restart ArcGIS Pro and try running RetinaNet

[2020-06-12 06:45] #659 closed

[2020-06-12 06:50] carolinestudent commented on #708
Thank you for taking the time to look into it !
I did restart ArcGis Pro and my computer and then try running RetinaNet model again, but the same error always happend.

Env : Because I'm doing an internship and the whole Coronavirus thing, I was at home and using the trial version of ArcGis Pro (the one you can use 21 days). So maybe the problem is coming from that ? Unfortunatly, my trial is over

[2020-06-18 04:50] geompc opened #715 "HTTPError where Portal set to allow Http connections"
When trying to clone items from Portal 10.6.1 to another 10.6.1 Portal the API throws an error, "Error cloning data: HTTPError: this service url encountered an HTTP Error:"

Steps to reproduce the behavior:
[code]

error:
[code]
**Screenshots**
After changing this Security setting in Portal (requires Admin access) the same code works successfully
![image](https://user-images.githubusercontent.com/

[2020-06-23 20:04] Boukary opened #717 "Deeplab inside ArcGIS Pro : Slow and Weird results !!!"
**Describe the bug**
I m using Deeplab Tensorflow model to do segmentation on a raster layer using ArcGIS Pro built-in Python raster functions for TensorFlow. I mainly have 2 issues :

1 - The results are good but it took me **13hours** when I use **Classify Pixels using Deep Learning Tool**. When I do it outside ArcGIS it only takes **4min**. I think something is wrong with Deeplab implementation

[2020-06-24 03:26] rohitgeo commented on #717
The right place to report this is at https://github.com/Esri/raster-deep-learning

This repo is for ArcGIS API for Python and ArcGIS.learn.

You can let us know if you see these issues with the arcgis.learn DeepLab implementation in this repo.

[2020-06-24 03:26] #717 closed

[2020-06-26 08:48] ah-rspb opened #721 "item.shared_with does not return groups with 'shared update' capability"
**Describe the bug**

'shared update' groups not returned when using item.shared_with. This is proving an issue for migrating content to new accounts as we need to unshare item from group, reassign onwer and then reshare with group
run https://developers.arcgis.com/python/api-reference/arcgis.gis.toc.html?highlight=shared_with#arcgis.gis.Item.shared_with

**To Reproduce**
Share an item with a grou

[2020-06-29 15:35] knoopum commented on #479
Still seeing the errors when trying to use map widget in jupyter-lab with the stock Python environment (1.7.0) that comes with ArcGIS Pro 2.5.2.

Starting from the stock environment and updating arcgis to 1.7.1 does not help:
conda install nodejs -c esri
jupyter labextension install @jupyter-widgets/jupyterlab-manager
jupyter labextension install arcgis-map-ipywidget@1.7.1
--> `Error displaying wi

[2020-06-29 19:28] akhilnegi opened #723 "Docanno windows deployment package is failing."
As reported by Karthik, the Windows deployment package for Docanno is failing. This issue is to track the effort on the fix.

[2020-07-06 12:24] Hiromu-Nakamura opened #727 "Detail information on vmtilocaldataset column values"
**Is your feature request related to a problem? Please describe.**
It would be appreciated if there is detail information, such as a guide document, on vmtilocaldataset column which is generated after executing [predict_video](https://developers.arcgis.com/python/api-reference/arcgis.learn.html#arcgis.learn.SingleShotDetector.predict_video) method.

Several values will be added to the single new c

[2020-07-07 09:24] achapkowski commented on #715
Using HTTP can be a security risk and normally the API always tries to use HTTPS.  If the item being cloned has a URL of HTTP is will honor that URL.

[2020-07-07 09:24] #715 closed

[2020-07-07 09:26] achapkowski commented on #294
You can copy symbology from layers using Spatially Enabled DataFrames at ArcGIS API for Python v1.8 and beyond.

[code]

[2020-07-07 09:26] #294 closed

[2020-07-07 20:44] DavidJVitale commented on #479
@knoopum Could you try installing v1.X of JupyterLab? I am seeing some strange behavior with  the `arcgis-map-ipywidget` and jupyterlab 2.X, it is resolved when I install 1.X. You can install 1.X of jupyterlab via:

`conda install jupyterlab=1`

If you are still seeing errors, can you send the browser console when the map doesn't work?

[2020-07-08 15:50] cdflint commented on #710
There are some other things going awry with how the 'device' is being passed to other dependent libraries.  I have used the exact same environment to run a pure fastai unet implementation to process on a GPU (working with both a Quadro RTX5000 and GTX1080TI).  However, when running via the arcgis.learn module the torch.device sent to gets downgraded from GPU to CPU somewhere.

My system passes the

[2020-07-08 16:46] ATL2001 opened #732 "arcgis.features.managers.AttachmentManager search function crashes when given a query that returns no attachments and as_df is set to True"
**Describe the bug**
the attachment manager's search function crashes if the input objectids to search for don't have attachments, and the as_df argument is set to true

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]

**Expected behavior**
I'd expect the function to return a dataframe with no rows

**Platform (please complete the following information):**
 - OS: windows 10

[2020-07-08 17:28] achapkowski commented on #732
@ATL2001 can you share the layer you are referencing?  Is this on AGOL or Portal?

[2020-07-08 17:32] ATL2001 commented on #732
It is on AGOL, however I apologize, unfortunately, I cannot share the service as it contains other things I'm not a liberty to share

[2020-07-08 20:26] knoopum commented on #479
@DavidJVitale Yes, downgrading to jupyterlab 1.x results in a functional map widget. Since I wanted to stay at 1.8.1 I used:

`conda install jupyterlab=1 -c esri --no-pin`

After downgrading to 1.x, I did have to reinstall the two jupyter labextensions. I also was getting CORS errors, so I had to add http://localhost:8888 to my ArcGIS Online instance's Allowed Origins.

With 1.8.1 and jupyterlab 2

[2020-07-10 12:57] cdflint opened #733 "building_reconstruction_using_mask_rcnn.ipynb un-reproducable output"
# Part 1 - Data Preparation

In the step to export training data with arcpy using the Image Analyst extension.

The output directory is listed as `\Documents\PCNN\Only_nDSM`

And the `class_value_field="None"`.

When using the export training data geoprocessing tool in arcgis pro (v2.5.2) having no class value selected returns.

![image](https://user-images.githubusercontent.com/25038329/87154628-

[2020-07-10 16:59] ATL2001 commented on #679
I ran into this issue yesterday as well, this issue discussion helped point me in the right direction to resolving it, thanks!  My issue turned out to be that I had a few column names that started with a number which isn't allowed in a gdb.  Once I renamed the columns it went in with no issues :) . -aTL

[2020-07-10 17:33] achapkowski commented on #679
At the latest release, we added an optional sanitize column parameter when exporting data.

[2020-07-10 17:33] #679 closed

[2020-07-10 17:33] achapkowski commented on #721
This issue should be resolved at `v1.8.3`

[2020-07-10 17:33] #721 closed

[2020-07-10 17:36] achapkowski commented on #703
It could be that the esri basemap doesn't allow offline mapping.

[2020-07-11 09:41] hallafarid commented on #708
I faced the same errors. could you please help me to solve this problem???????

thanks

[2020-07-11 09:42] hallafarid commented on #708
could you help me to find a solution for this errors , please????

[2020-07-12 02:41] AtmaMani opened #734 "Attempting to save a Raster object with raster functions to local file throws Error 999999"
**Describe the bug**
I am running the same workflow using `arcpy.sa.Raster` and with `arcgis.raster.Raster`. The last step of saving the raster succeeds when running it using Arcpy SA Raster, but fails with Python API's Raster object. Error below:

[code]
**To Reproduce**
You can download the sample data from: https://geosaurus.maps.arcgis.com/home/item.html?id=bd087346f0ed47f6bf39943fcde02ed2

Th

[2020-07-12 02:41] AtmaMani commented on #734
Oops, wrong repo, closing this.

[2020-07-12 02:41] #734 closed

[2020-07-13 06:13] FrancisBase commented on #479
Have tried all solution combinations and the more updated and the issue is not resolved with the previous solutions.
So here are current versions:
jupyterlab v.2.1.5
@jupyter-widgets/jupyterlab-manager v2.0.0
arcgis-map-ipywidget v1.8.1
arcgis  v1.8.2
if anyone has fix is appreciated in advance.

![](https://files.slack.com/files-pri/T06QBQ0DV-F0174TV8K0C/image.png)

[2020-07-13 10:52] Hiromu-Nakamura commented on #479
Not sure if it would be helpful, but I could show a map with the following environment:
![2020-07-13_19h43_02](https://user-images.githubusercontent.com/20600894/87296226-68cc7f80-c541-11ea-9336-a0a9f23587f1.png)
ArcGIS Pro 2.5.1
arcgis 1.8.1
jupyterlab 1.1.4
nodejs 12.16.1

@jupyter-widgets/jupyterlab-manager v1.0.3
arcgis-map-ipywidget v1.8.1

I think difference may be that I am using nodejs 12.

[2020-07-13 14:04] DavidJVitale commented on #479
@FrancisBase I have not posted the v1.8.2 jupyterlab extension yet on npm, I will do that sometime this week. I will tag you on this issue when I publish it.

[2020-07-13 15:26] FrancisBase commented on #479
Awesome @DavidJVitale So many Thanks.

[2020-07-14 21:38] rbjelinek commented on #617
I'm also unable to access the data

**Under this login**
gis = GIS("https://pythonapi.playground.esri.com/portal/home/", "arcgis_python", "amazing_arcgis_123")

**and this search**
test = gis.content.search('owner:api_data_owner')

**yields the following results**
[<Item title:"bigDataFileShares_all_hurricanes" type:Big Data File Share owner:api_data_owner>,
 <Item title:"C_D8" type:Imagery Layer

[2020-07-15 03:49] guneetmutreja commented on #733
Thank you @cdflint, I will resolve the bugs.

[2020-07-16 18:58] cdflint commented on #733
It appears the export training data tool pushed out image chips without any accompanying labels.  There were around 10 in my dateset without labels, removing those seems to have rectified the issue.

[2020-07-16 18:58] #733 closed

[2020-07-16 21:17] jessenestler opened #737 "arcgis.geometry.functions.union returns Geometry with empty spatial reference"
**Describe the bug**
Calling arcgis.geometry.union on a list of Geometry objects successfully creates a new Geometry, but the `spatial_reference attribute = None`.

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Error:**
No error, silently returns `None`

**Expected behavior**
The output `unioned` Geometry should inherit from its components.

**Platform:**
 - OS: macOS Catalina 10.15.4

[2020-07-17 15:20] jessenestler commented on #737
For now, my workaround is to reconstruct the polygon from a dict:

[code]

[2020-07-17 17:37] AtmaMani commented on #737
Thanks for reporting, I am able to reproduce this. We will investigate and try to fix it for the next release

[2020-07-22 22:09] DavidJVitale commented on #479
@FrancisBase @knoopum  @MSDuncan82 I have uploaded the v1.8.2 `arcgis-map-ipywidget` to npm. __This npm package will work with JupyterLab 2.X, but not JupyterLab 1.X__

Please install and let me know of any concerns. I have tested on a few computers and it appears to be working well. Thanks!

[2020-07-23 02:12] LinoSun opened #743 "RuntimeError: DataLoader worker (pid 6000) is killed by signal: Killed."
**Describe the bug**
Out of memory whilie training DeepLearning model.

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]
**Screenshots**
![image](https://user-images.githubusercontent.com/44741345/88246326-b9c03e80-cccc-11ea-804b-990b9d0b951d.png)
![image](https://user-images.githubusercontent.com/44741345/88246297-a614d800-cccc-11ea-9d54-80bbead78035.png)
![image](https://us

[2020-07-24 09:31] FrancisBase commented on #479
Great work @DavidJVitale here is my solution which is working, if you like put star or like in https://github.com/FrancisBase , and most importantly hope is useful:
![jlab_arcgis](https://user-images.githubusercontent.com/24868420/88378228-821ec880-cd98-11ea-8e97-67885dabedf2.png)
Note: if the command `jupyter labextension list` lists **unknown extensions**, then you have a bug and for fix do like

[2020-07-24 14:05] #737 closed

[2020-07-24 23:29] bixb0012 opened #748 "arcgis.gis.server.admin.administration.Server Mangles arcgis.gis._impl._con._connection.Connection"
The following is describing a change between ArcGIS API for Python 1.6.0 and 1.8.2 (also tested on 1.8.1) that breaks ArcGIS Admin API connections to stand-alone ArcGIS Server sites.  As of yet, I have not been able to find a workaround, so i am rolling back all our production machines to the ArcGIS API for Python 1.6.x branch.

Taking the following code:
[code]
In the 1.6.x branch, the connection

[2020-07-26 18:40] bixb0012 commented on #748
I just confirmed the break was introduced in 1.8.0.  I tested 1.7.1 and everything still works, but when I upgrade to 1.8.0 the code breaks.

[2020-07-27 10:47] achapkowski commented on #748
@bixb0012 is this a standalone or federated server?

[2020-07-27 10:49] achapkowski commented on #748
Also please note that the `Server` class is not to be created by a user per the documentation: https://developers.arcgis.com/python/api-reference/arcgis.gis.server.html#server

[2020-07-27 14:47] achapkowski commented on #748
We have a target fix for this for ```1.8.3```.

[2020-07-27 15:29] #748 closed

[2020-07-27 15:30] achapkowski commented on #687
Do you have a proxy that you failed to define or do you have internet access on the machine you are calling this from?

[2020-07-27 21:56] bixb0012 commented on #748
@achapkowski, thanks for looking into this issue and getting a fix put into place.  Your prompt attention is great appreciated.

Back to your questions, this is stand-alone Server.  Regarding the comment about Server class should not be created by a user, I assume you mean that applies to federated Server since the 2nd example in the documentation shows creating Server directly by  a user to stand

[2020-07-29 09:23] chenzhaiyu opened #750 "tensorboardX error logging the graph"
**Describe the bug**
tensorboardX throws an error writing the graph, when PointCNN starts training.

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]

[code]
**Screenshots**
N.A.

**Expected behavior**
The graph being written into the training log.

**Platform (please complete the following information):**
 - OS: Windows 10
 - Browser: Chrome/Pycharm Jupyter notebook extensio

[2020-07-29 17:09] DCHuber opened #752 "Stand-Alone ArcGIS Server Authentication Fails"
**Describe the bug**
Using v1.8.2, connection to a stand-alone ArcGIS Server fails to authenticate.   Same code in v1.7.0 works fine

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Expected behavior**
Same code in v1.7.0 returns:
[code]
**Platform (please complete the following information):**

[2020-07-29 19:07] bixb0012 commented on #752
Like the same root cause as #748 , which they have stated will be addressed in 1.8.3.

[2020-07-30 20:54] DavidJVitale commented on #479
Also, for anyone still having issues -- We have updated the installation docs to show how to install it in the JupyterLab UI, please take a look at the new doc:

https://developers.arcgis.com/python/guide/using-the-jupyter-lab-environment/

[2020-07-31 01:52] Hiromu-Nakamura commented on #479
@DavidJVitale It is very helpful. Thank you for updating the docs.

[2020-07-31 09:07] chenzhaiyu opened #754 "Handling mismatch of point cloud classification labels during PointCNN prediction"
**Is your feature request related to a problem? Please describe.**
Yes. Applying the PointCNN model trained on dataset A, for prediction on dataset B, throws an **obscure error**, given that the two datasets have mismatched classification labels and the `print_metrics=True` is provided. Please consider handling the error in a clear way.

**Code to reproduce**
[code]

[code]

**Describe the solutio

[2020-08-02 01:55] chiheye opened #756 "DistributedDataParallel"
My computer is multiple GPUs, and I tried to use distributed data parallel to run multi card data on a single machine, but failed

[2020-08-06 01:50] dionliddell commented on #600
I've discovered a possibly related issue within the feature.py module.  I've posted a geonet question about it [here].(https://community.esri.com/thread/257817-featuresetfromgeojson-bug)

Specifically, within the feature.py code snippet posted by the OP:

        geom = arcpy.AsShape(geom)
        geometry = Geometry(json.loads(geom))

It appears that geom is being set as an arcpy geometry object,

[2020-08-06 10:34] #600 closed

[2020-08-06 10:36] achapkowski commented on #600
A fix will be in the next release of the ArcGIS API for Python.  Thanks for the detailed post on how to reproduce your issue.

[2020-08-06 10:40] achapkowski commented on #651
Issue is not present at the next release:
![image](https://user-images.githubusercontent.com/5131271/89522697-a672a000-d7af-11ea-85a3-0d5a8e4b88b5.png)

[2020-08-06 10:40] #651 closed

[2020-08-06 10:42] achapkowski commented on #630
This should be resolved.  Please update to the latest version of the ArcGIS API for Python.

[code]

[2020-08-06 10:42] #630 closed

[2020-08-06 10:45] achapkowski commented on #579
This issue should be addressed in the next release.  Thank you for reporting.

[2020-08-06 10:45] #579 closed

[2020-08-06 10:46] #525 closed

[2020-08-06 10:47] achapkowski commented on #450
Is this still an issue using the latest version of the ArcGIS API for Python?

[2020-08-06 10:49] achapkowski commented on #333
This should be resolved in v1.8.x of the ArcGIS API for Python.  Thank you for reporting.

[2020-08-06 10:49] #333 closed

[2020-08-06 14:55] bixb0012 opened #758 "FeatureSet.from_geojson Fails on MultiPolygons"
While responding to a GeoNet thread, [FeatureSet.from_geojson bug?](https://community.esri.com/thread/257817-featuresetfromgeojson-bug), I was able to verify a defect in FeatureSet.from_geojson with MultiPolygon.

 Using a basic MultiPolygon example from [GeoJSON - Wikipedia](https://en.wikipedia.org/wiki/GeoJSON), you can generate an error:
[code]
Using the polygon with a hole example from [GeoJS

[2020-08-10 19:10] l84tahoe commented on #450
@achapkowski I have changed organizations since creating this issue. With the newest API I no longer get the error I was experiencing before. But I am just getting a link to the usage report params. I guess I just need to append `/data` to the end of the URL to get the data. There might be another built in method, but I haven't had to use the usage reports since my change. But will most likely com

[2020-08-10 19:10] #450 closed

[2020-08-11 14:35] carstenpiepel commented on #343
FYI - This is reproducible on ArcGIS Enterprise 10.6.1 but not on 10.8.1. I didn't test versions in between.

[2020-08-12 21:17] scook12 opened #761 "Spatially enabled dataframe to_featurelayer returns FeatureCollection and fails to publish"
**Describe the bug**

When using GeoAccessor.to_featurelayer, I get a FeatureCollection returned and the dataframe is not published to a feature layer (ArcGIS Online) or the process throws error code 500 (Portal 10.7.1).

**To Reproduce**
Steps to reproduce the behavior:
[code]

Note: when passing a GIS object connected to a 10.7.1 Portal as the `gis` parameter, throws 500 internal server error:
[

[2020-08-21 15:14] acanivano opened #771 "Pandas DataFrames and tables Problem"
I have a service published in ArcGis Online that consists of a layer and two related tables.
I have to access one of the tables to write a url and I'm using Pandas to do it. Until now it worked correctly, but now I get the following error.

[code]
error:
`Could not load the dataset: 'PropertyMap' instance has no attribute 'drawingInfo'`

If I want to access the layer, I can create the dataframe co

[2020-08-27 18:41] daraobeirne commented on #579
FYI I'm also seeing this behavior when I try accessing the the item.homepage object https://developers.arcgis.com/python/api-reference/arcgis.gis.toc.html?highlight=homepage#arcgis.gis.Item.homepage

[2020-08-27 22:37] PatrickFlynn opened #776 "Token Required - Error 499: When Attempting to Query Feature Layer (Arcgis 1.8.2)"
Hello - please see below:

[code]
This successfully opens up a browser and I login with IWA..

`print("Successfully logged in as: " + gis.properties.user.username)`

This returns a success message and I am able to explore my content in the Portal

[code]
I am able to get content (that is not shared/public) and use methods such as l.get_data()

`fl.query(where="1=1")`

This is where the failure occ

[2020-08-28 11:57] vassilo opened #777 "Creating a user throws an exception"
When using the API (1.8.2) to create a user in AGOL, it throws an exception only indicating userType. On further investigation seems that when trying to query the user_settings it can't find the key userType and therefore fails. This happens after it has already created the user in AGOL.

[2020-08-28 12:09] achapkowski commented on #777
Can you post the code to reproduce this?

[2020-08-28 12:43] vassilo commented on #777
from arcgis.gis import GIS

gisEnvironment = GIS(AGOL Account connection)
try:
	userObject = gisEnvironment.users.create(username = 'test_esri_southafrica',
					                         password = 'Test@123',
					                         firstname = 'Test',
					                         lastname = 'Test',
					                         email = 'test@email.com',
					                         role

[2020-08-28 12:46] vassilo opened #778 "Updating credits"
Is there away to upgrade the credits assigned to a user via the python API?

[2020-08-28 13:59] achapkowski commented on #778
see: https://developers.arcgis.com/python/api-reference/arcgis.gis.admin.html?highlight=allocate#arcgis.gis.admin.CreditManager.allocate

From your admin GIS object:

[code]

[2020-08-28 13:59] #778 closed

[2020-08-28 14:01] achapkowski commented on #777
I cannot reproduce the issue on my end.  Do you have `New Member Defaults` set on your org?

[2020-08-28 14:03] achapkowski commented on #761
Does gis.content.import_data work with the SeDF?

[2020-08-28 14:05] achapkowski commented on #771
This issue will be resolved in the next release, which will be near the end of the year.

[2020-08-28 14:05] #771 closed

[2020-08-28 14:06] achapkowski commented on #758
I'll take a look. thanks for reporting.

[2020-08-28 14:09] vassilo commented on #777
No I don't.

[2020-08-28 14:12] achapkowski commented on #758
Is this occurring with or without ArcPy?

[2020-08-28 14:26] vassilo commented on #778
Thank you.

[2020-08-28 15:04] achapkowski commented on #777
Ok, we did some updates at the next release.  I think it might be in the pre-release.

Try updating in a new conda channel: conda install -c esri/label/prerelease arcgis

Let me know if that fixes the issue.

[2020-08-28 15:31] #758 closed

[2020-08-28 15:32] achapkowski commented on #758
This only happens if ArcPy is not present it seems.

[2020-08-28 21:34] logan-pugh opened #779 "ipywidgets Output widget does not work correctly in ArcGIS Pro notebooks"
**Bug description**
In ArcGIS Pro notebooks, the ipywidgets [`Output`](https://ipywidgets.readthedocs.io/en/latest/examples/Output%20Widget.html) widget does not work correctly. The Output widget is meant to be able to capture and display outputs within its own output area, but instead the output is sent to the executed cell's output. This only occurs inside of Pro, in Jupyter Notebook or Jupyter

[2020-08-29 09:04] vassilo commented on #777
I am still getting the errors, both with the sample program I sent, and with the full program. Here is the full trace from the userType keyerror.

Unable to display children:Error resolving variables Traceback (most recent call last):
  File "D:/OneDrive/Esri/Scripts/Python/AGOL_Bulk_Users/AGOL_Bulk_Users.py", line 187, in CreateUser
    groups = group
  File "C:\Program Files\ArcGIS\Pro\bin\Pytho

[2020-09-01 15:18] bixb0012 commented on #758
@achapkowski , I see this with ArcPy from Pro 2.6 installed as well.
[code]
Esri Support was able to reproduce the defect with ArcPy installed as well, and the following Esri Support bug was logged:

[2020-09-01 15:42] achapkowski commented on #758
It will be fixed in the next release.  That is why it was closed.

[2020-09-02 12:25] seansweeney opened #781 "States sample data is missing DBF."
**Describe the bug**
In the arcgis-python-api/guide/05-working-with-the-spatially-enabled-dataframe/data.zip file, the states shapefile is missing the DBF component and therefore can't be opened.

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]

**Expected behavior**
States shapefile opens without error (as cities does).

**Platform (please complete the following information

[2020-09-02 13:15] achapkowski commented on #781
try adding a period backslash to the front of the path.  Also is the directory `data` in the same folder at the script?

```r".\data\states.shp"```

[2020-09-02 16:31] logan-pugh commented on #779
Just confirming the behavior is unchanged at 2.6.1.

[2020-09-03 18:23] logan-pugh commented on #779
Esri Support was able to reproduce the issue and has been entered as BUG-000133560.

[2020-09-08 17:13] DanCranford opened #787 "Add support for PDF in Survey123 generate_report"
Hey all -

The [generate_report](https://developers.arcgis.com/python/api-reference/arcgis.apps.survey123.html#arcgis.apps.survey123.Survey.generate_report) function currently supports Word Document (docx) outputs by default.

I was able to output a pdf by modifying the API code as follows

[code]

It would be awesome if the output format could be added as a parameter that enabled a choice between

[2020-09-09 17:22] emcastro commented on #761
I've noted on version 1.8.2 that when a dataframe serie includes a NaN value, it is encoded as '' (empty string) instead of null (or its pythonic equivalent None).

[2020-09-11 12:18] scook12 commented on #761
@emcastro If you are experiencing unexpected behavior as a result of that, we should probably open a separate issue to review  - missing values in my df were encoded as the string 'N/A'.

@achapkowski figured it out. I tested the import_data approach just now, and the results are identical. Traceback for portal is nearly the same, which makes sense since the `to_featurelayer` method seems to use t

[2020-09-14 10:33] vassilo opened #792 "Deprecation and Resource Warnings showing up in new updates."
I am getting the following warnings

C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\notebook\notebookapp.py:52: DeprecationWarning: zmq.eventloop.ioloop is deprecated in pyzmq 17. pyzmq now works with default tornado and asyncio eventloops.
  ioloop.install()
C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\osgeo\gdal.py:107: DeprecationWarni

[2020-09-14 15:54] pmacMaps commented on #259
@achapkowski, for updating the spatial index, what should the value of `<index id>` be?  Ideally, when a user runs your example command, it will rebuild the indexes.

I have a working script that uses both ArcGIS Pro/ArcPy and the Python API to ovewrite an ArcGIS Online feature service using data on our organization's servers.  As it's a large dataset, I still manually ran the Rebuild Indexes oper

[2020-09-15 00:08] seansweeney commented on #781
Sorry if I wasn't clear - The path reference to the data is not the issue.  The zip file of sample data is missing states.dbf (one of the three required components of a shapefile).

[2020-09-17 13:52] vassilo commented on #792
Had to reinstall Pro, now the errors have gone away.
This can be closed.

[2020-09-17 13:53] vassilo commented on #792
Had to reinstall Pro, and now the errors have gone away.

[2020-09-17 13:53] #792 closed

[2020-09-21 14:41] SethDocherty opened #793 "Unable to query features from the Recent Earthquakes Layer"
**Describe the bug**
I'm unable to query features from the [Recent Earthquakes](https://www.arcgis.com/home/item.html?id=9e2f2b544c954fda9cd13b7f3e6eebce) layer using the python API and result with a 504 error.  If I hit the layer REST endpoint, I can successfully query features. Note see picture below.

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]
**Screenshots**
If appl

[2020-09-22 19:40] Count0Int opened #796 "Identify_Items_That_Use_Insecure_URLS Notebook Error - csv file"
When running against arcgis.com, with proper credentials, notebook throws an error:

[code]

Running the notebook inside of ArcGIS Pro 2.6.1

[2020-09-23 09:20] achapkowski commented on #796
So you are using ArcGIS' Notebook Environment? or are you running the notebook in Pro 2.6.1?  Can you post your notebook?

One thing to check is if there is a variable called : "/arcgis/home" if so, update it to the environment it's running in.

[2020-09-23 09:21] achapkowski commented on #781
@DavidJVitale or @AtmaMani can you take a look at the file for this guide?

[2020-09-23 09:22] achapkowski commented on #787
@DanCranford I'll add this to the list and try to get it in.  Thank you for the suggestion.

[2020-09-23 09:45] achapkowski commented on #695
The `SpatialDataFrame` is deprecated.  Please use the `spatial` accessor instead.

[2020-09-23 09:45] #695 closed

[2020-09-23 09:46] achapkowski commented on #687
We have update the Try It Live feature.  Please try again.

[2020-09-23 09:46] #687 closed

[2020-09-23 21:23] Count0Int commented on #796
Hello,

Yes I am using the notebook environment in ArcGIS Pro 2.6.1.

The notebook isn't changed from the download from here (Identify_Items_That_Use_Insecure_URLs.ipynb), other than credentials.  The only difference really, is that I am pointing the connection to AGOL instead of our Portal.

gis = GIS("https://www.arcgis.com/", "username", "password")

Using my org username and password of course

[2020-09-28 13:23] sfaraut opened #800 "Running error when user name contains a dot (ie 'firstname.lastname' in AppData path)"
Execution stop with error when user name contains a dot (ie 'firstname.lastname' ).

`data_path = Path(os.path.join(filepath.rsplit('.')[0]))`

Path string contains then a dot and split function occurs on first dot of path:
'C:\\Users\\XXX~1.YYY\\AppData\\Local\\Temp\\ArcGISProTemp11600\\detecting_and_categorizing_brick_kilns_from_satellite_imagery.zip'
rather than last dot of file extension (.zip

[2020-09-28 16:39] priyankatuteja commented on #800
@sfaraut Thanks, will fix it soon

[2020-09-29 04:58] johnclary opened #801 "[Question] How is the ArcGIS library licensed?"
The [`arcgis` package](https://pypi.org/project/arcgis/) on pypi.org has a proprietary license that redirects to [https://www.esri.com/en-us/legal/overview](https://www.esri.com/en-us/legal/overview).

There are a lot of documents to navigate there. Can you point us to the terms of use that apply to this library?

[2020-10-05 17:09] Count0Int commented on #796
Update on this.

I uploaded the notebook to run in AGOL and it works perfectly.  I didn't see in the documentation, but obviously these examples are meant to run in AGOL and not an ArcGIS Pro Notebook without some modifications.  Hopefully this helps someone in the future.

[2020-10-05 17:09] #796 closed

[2020-10-06 23:23] steveoh opened #807 "Pip installation fails on travis"
**Describe the bug**

Cannot use arcgis package in travis ci

**To Reproduce**

run a travis ci job that imports arcgis

error:
[code]

**Expected behavior**

I expect arcgis to install correctly as it does with pip on osx or windows

[2020-10-10 23:49] Dan-Patterson commented on #801
According to the licensing at the bottom of this page...
https://github.com/Esri/arcgis-python-api
You don't get to use arcpy unless you have a valid esri software license, otherwise everything geometry, that can be emulated is largely done through shapely.
try anaconda through the esri site
https://anaconda.org/esri/arcgis

[2020-10-12 16:19] #469 closed

[2020-10-13 11:33] geopamplona commented on #711
I have same error

[2020-10-13 12:12] achapkowski commented on #711
Can you run and post the file:

[code]

[2020-10-17 01:13] eykamp opened #817 "Undefined variable in portalpy.py (with easy fix)"
**Describe the bug**
In your code (following) arcgis/_impl/portalpy.py, if both ifs fail inside the exception handler, it is possible for `resp` to be undefined by the time you get to the bottom `if resp:` line, resulting in a crash.  Fix this by setting resp to None inside the first if, or similar.

[code]

[2020-10-18 17:21] tramka opened #818 "edit_features permits invalid values in fields with domains"
Hi,

I realised when updating values on AGOL with a method edit_features, I am able to pass invalid values to the fields where I set up a domain. I made a few tests. It is checking the field type, however it is not checking values from domain.

`blds_fset = blds_flayer.query("FID_BLD_part = 1",
                                  out_fields='OBJECTID,AKTUALIZACE',
                                  r

[2020-10-21 05:01] RickyOpenware opened #821 "Problem With Accessing GIS Python Playground Portal"
I tried to run the following line both locally and your "Try It Live", and get error
gis = arcgis.GIS('https://python.playground.esri.com/portal', 'arcgis_python', 'amazing_arcgis_123')

Unable to sign user because a software authorization error.
If I try to log in to the portal using web browswer , get the same error.

[2020-10-28 22:08] cleanlines opened #822 "WebMap.add_table(new_table) fails with AttributeError("'NoneType' object has no attribute 'json'",)"
Using ArcGIS Pro 2.6.0

When creating a new Table feature and adding it to a webmap I get an error:

AttributeError("'NoneType' object has no attribute 'json'",)

using something like

new_table = Table(new_table_url)
wm.add_table(new_table)

in the add_table function in C:\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\Lib\site-packages\arcgis\mapping\ _types.py we have

if not isinstance(table, arcgis

[2020-10-29 23:34] pcdcvx commented on #531
@AtmaMani - is there an update for this? A process (without extensive use of the ArcGIS API for Python) was published recently.

https://github.com/mraad/spark-esri/blob/master/spark_dbconnect.ipynb

[2020-11-03 16:59] homerjonathan commented on #479
I have followed the instructions and I am still getting the error.

I am using JupyterHub to launch single instances.  I have built a containerized image of JupyterLab at version 2.1.5.

Installed the extension:   arcgis-map-ipywidget **v1.8.2**  enabled  OK
Installed as per instructions the arcgis with exactly the same version as **1.8.2**

We have not used Conda since it is a containerized envir

[2020-11-04 13:16] Biboba opened #827 "Cannot initialize idp with IdentityProviderManager"
**Describe the bug**
When trying to configure ArcGIS Enterprise Idp, the following error occurs:
[code]
**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Expected behavior**
Idp properties should be displayed and configurable

**Platform (please complete the following information):**
 - OS: [e.g. i

[2020-11-06 23:25] pcdcvx commented on #531
@skalisky Hi Shannon - the use of the ArcGIS API for Python has been demonstrated in Azure Databricks and also from ArcGIS Pro notebooks using Databricks Connect. Are you aware of any limitations to the use of the API for data engineering workflows?

[2020-11-09 23:36] hemingwaylane opened #828 "Error displaying widget: model not found"
I'm trying to use the map widget in Jupyter Lab and it errors with _Error displaying widget: model not found_:
![image](https://user-images.githubusercontent.com/35620077/98609058-224e1e00-22b2-11eb-80c1-1305fdf18faa.png)

 My arcgis-map-ipywidget and Python API versions don't match and I'm not sure how to get them to match. The arcgis-map-ipywidget is 1.8.3 and the API is 1.8.2:
![image](https://

[2020-11-10 00:36] DavidJVitale commented on #828
@hemingwaylane run this in your command line:

```jupyter labextension install arcgis-map-ipywidget@1.8.2```

We cut a pre-release of 1.8.3 on conda and npm. You need to have a match of 1.8.2 on conda and on jupyter labextension list

[2020-11-10 08:53] kuttamuwa commented on #561
Wasn't fixed yet, i guess. Can you give the solution? At least we don't wait for you to do.

[2020-11-10 12:20] achapkowski commented on #793
@SethDocherty

At v1.8.3, I see no issue:

[code]

[2020-11-10 16:32] hemingwaylane commented on #828
@DavidJVitale - That did the trick. Thank you!

[2020-11-10 16:32] #828 closed

[2020-11-10 17:15] bixb0012 opened #829 "GeoAccessor.from_table Returns TypeError on SHORT Field with NULL and skip_nulls=False"
[code]

**UPDATE:**  The root cause appears to be having a field in the table of data type SHORT.  If I remove any fields with that data type, everything works as expected.  If I add a SHORT field to the table, it generates empty data frame.

[2020-11-16 09:55] achapkowski commented on #829
@bixb0012 Thanks for reporting this, I'll take a look.

[2020-11-16 11:36] achapkowski commented on #829
@bixb0012 what version of ArcGIS Pro are you using?

[2020-11-16 13:31] crackernutter opened #832 "Querying restricted FeatureLayer returns JSON decode error"
**Describe the bug**
Querying a restricted FeatureLayer in arcgis version 1.8.1 return JSON decode error

**To Reproduce**
First you need a feature layer that has restricted permissiosn
[code]
error:
[code]
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Expected behavior**
Depending on the parameters of the query, return a feature dataset with the features of the l

[2020-11-16 14:27] achapkowski commented on #832
You say it's restricted?  Can you explain this?
Is it AGOL?
Is it a local enterprise?

[2020-11-16 19:11] bixb0012 commented on #829
I am using Pro 2.7 beta 1 that has ArcGIS API for Python 1.8.3

[2020-11-16 19:56] achapkowski commented on #829
ok, thanks, this is good information.  The root cause is actually: ```arcpy.da.TableToNumPyArray```, I'll see what I can do.

[2020-11-16 19:56] achapkowski commented on #829
Any chance you can share your table?

[2020-11-16 20:27] bixb0012 commented on #829
Regarding the original issue, the titular issue, I can't reproduce it today starting from scratch.  There must have been something I missed that was causing the empty data frame when using "all fields."  Honestly, it may have been a matrix of NULLs that simply resulted in no records being returned when `skip_nulls=True`.

Setting the original/titular issue aside, I can easily reproduce the TypeErr

[2020-11-16 21:06] bixb0012 opened #833 "GeoAccessor.from_table Returns OutOfBoundsDatetime Error With Dates Earlier Than 1677"
Whenever I use `GeoAccessor.from_table` with tables that have fields with dates earlier than 1677, I get the following error:
[code]
I know it is related to https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html ,

What is odd, and the reason I consider this to be a bug, is that when working with `GeoAccessor.from_featureclass` and dates earlier than 09/21/1677, I don't get any er

[2020-11-17 12:36] crackernutter commented on #832
I apologize - I tested with a different service and the code worked - it must be some nuance with the service definition itself.
What I am hitting is an arcgis server REST endpoint that is not shared with anonymous users - so I need to provide a username/password to get a token, which is what I assume the Server portion of the code above handles.  The layer is not federated with Portal, so I assum

[2020-11-17 12:36] crackernutter commented on #832
So I will close this issue since it seems to be due to something else...

[2020-11-17 12:36] #832 closed

[2020-11-19 06:50] samuello4 opened #835 "Cannot use the map widget in Jupyter Notebook/ ArcGIS Notebook in ArcGIS Online"
Got an error message when using the map widget in Jupyter Notebook/ ArcGIS Notebook in ArcGIS Online.
![Capture](https://user-images.githubusercontent.com/42732361/99631397-7b6a3e80-2a76-11eb-8c97-eacc9f15d097.PNG)

[2020-11-19 10:47] achapkowski commented on #835
@samuello4 thank you for reporting this, we are looking into it.

[2020-11-19 10:48] achapkowski commented on #833
To represents out of bounds dates in Pandas, see:
https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-oob

[2020-11-19 10:48] #833 closed

[2020-11-19 16:10] mhweber commented on #835
Same issue with map widget in Jupyter Notebook in ArcPro as well

[2020-11-19 17:13] kadebeem commented on #835
Also seeing this in Notebook Server 10.8.1

[2020-11-19 17:17] achapkowski commented on #835
What browser is everyone using?  @kadebeem @mhweber @samuello4

[2020-11-19 17:23] kadebeem commented on #835
Google Chrome. Ah, wonder if it's the recent chrome update that's throwing things off. I just tried in Firefox as well. Same problem.

[2020-11-19 17:24] achapkowski commented on #835
Can you try the Edge Chromium version? Just to cover the whole group.

[2020-11-19 17:25] DavidJVitale commented on #835
As @achapkowski said, we are looking into fixing a permanent fix. If anyone need a map widget working right now, try this for an (experimental) workaround:

- Restart your kernel and clear all output
- Refresh your browser
- Run this code in a cell BEFORE YOU DRAW ANY MAP:
- ```python
   from arcgis.widgets import MapView
   MapView.set_js_cdn("https://js.arcgis.com/4.18/")
[code]

[2020-11-19 17:34] kadebeem commented on #835
@achapkowski Same issue in the chromium flavor of Edge. Tried @DavidJVitale workaround. Displayed loading icon at the top of the cell output, but never finished loading

`from arcgis.widgets import MapView
MapView.set_js_cdn("https://js.arcgis.com/4.18/")`

`map_1 = gis.map('California', zoomlevel=5)
map_1`

[2020-11-19 22:55] DavidJVitale commented on #835
@samuello4 @mhweber @kadebeem This was caused by a bug introduced in the JS API CDN at https://js.arcgis.com/4.15/ . That bug has since been fixed; the map should display now without any workarounds. Please clear your browser cache and try again.

Closing. Please comment on this issue if you are still experiencing issues and we will happily help you resolve them. Thanks for bringing this to our at

[2020-11-19 22:55] #835 closed

[2020-11-23 17:22] bixb0012 commented on #833
@achapkowski , I am trying to understand why GeoAccessor.from_featureclass works fine with pre-1677 dates but GeoAccessor.from_table doesn't?  I could understand if both did or both didn't, it is the inconsistency in behavior that I see as the issue.

[2020-11-23 17:33] achapkowski commented on #833
@bixb0012 Table is not using cursors to create the table, it's using the da's numpy array tools.

[2020-11-24 20:47] bixb0012 commented on #748
@achapkowski , a quick question for you on this topic.  I am currently testing ArcGIS Pro 2.7 beta 3, and it shows ArcGIS API for Python 1.8.3.  I tested this code/issue again, and it still fails.  Is a fix still on track for 1.8.3?  Thanks.

[2020-11-25 17:33] Biboba commented on #827
Just forgot this bug has been observed on ArcGIS Enterprise 10.8.1 ?
If I do get any reply, does that mean that you consider it as not a bug ? Is it more on ArcGIS Enterprise side ? Should I open an official ESRI ticket because ArcGIS Enterprise should return at least a JSON ? Were you not able to reproduce the issue ?
Thanks !

[2020-11-30 05:49] fattmox commented on #622
+1
I too am using this work around - it would be a lot cleaner to have an optional parameter for KEYWORDS

[2020-12-04 07:16] Hlindemann opened #849 "Create Schema In Category Manager Fails"
**Describe the bug**
When overloading the schema method the setter is never triggered for class arcgis.gis.admin.CategoryManager(gis).schema(value)

If drill into the class then I observe that
[code]
is called instead of the overload
[code]
in _catagoryschema.py line 81

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]
**Screenshots**
When passing in the schema the code jumps

[2020-12-07 13:09] EdFarrell opened #852 "Question: When will 1.8.3 be released?"
Can you provide a timeline or estimated timeline for the release of 1.8.3, and subsequent availability on pypi? Thank you.

[2020-12-07 16:18] DavidJVitale commented on #852
Hi @EdFarrell . The python packages for 1.8.3 have already been released on pypi and anaconda, you can install via

`pip install arcgis`

or

`conda install -c esri arcgis`

We haven't updated the public facing documentation yet announcing this, showcasing new features etc. That should be released in the next few weeks. @AtmaMani can say more.

[2020-12-07 17:02] PoojaGambhir16 opened #854 "ArcGIS Python API- No Fill Symbol converted to black"
**Describe the bug**
While cloning web map from AGOL to Enterprise, I have updated the Polygon symbol with no fill and set only outline layer.
But when content cloned into Enterprise the polygon is shown with Black fill. Some how None fill is getting converted to Black fill.
**To Reproduce**
1)  Create a webmap with polygon symbol fill as None
2) Now clone the webmap using python API
3) Cloned map

[2020-12-07 17:36] achapkowski commented on #854
@PoojaGambhir16 Can you try updating to v1.8.3 and see if your issue is fixed.  The 1.6.2 version is quite old.

[2020-12-07 22:48] jeweinberg opened #855 "pyproj warning"
looks like pyproj is causing an issue when trying to change projections. When I plot polygons after this error the polygons are broken with points out of order.

[code]
error:
[code]

**Platform (please complete the following information):**
 - OS: ubuntu
 - Browser chrome
 - Python API Version 1.8.2

[2020-12-07 22:54] jeweinberg opened #856 "generate_service_areas errors"
**Describe the bug**
The docs say time impedance is optional (https://developers.arcgis.com/python/api-reference/arcgis.network.analysis.html?highlight=generate%20service%20areas#arcgis.network.analysis.generate_service_areas)

When I put time_impedance in another error hits in the default dictionary. Looks like "optional" arguments are being required.

[code]
error:
[code]

**Platform (please com

[2020-12-07 22:58] AtmaMani commented on #801
@johnclary This repo (SDK notebooks and API ref files) are available under [Apache 2.0](https://github.com/Esri/arcgis-python-api/blob/master/LICENSE). The Python API source code is available under [Esri Master License Agreement](https://www.esri.com/content/dam/esrisites/en-us/media/legal/ma-translations/english.pdf).

I am copying my product manager (cc @skalisky) if you would like to reach out

[2020-12-07 22:58] #801 closed

[2020-12-08 00:05] FarFromBoston commented on #522
Did you ever find a solution?
im trying to do the tutorial here:
https://developers.arcgis.com/python/sample-notebooks/land-cover-classification-using-unet/

and when you do the first bit :
--------------------------------------------
label_layer = gis.content.search("title: Kent_county_full_label_land_cover owner:api_data_owner",
                                 "Map Image Layer")[0] # the index

[2020-12-08 13:17] achapkowski commented on #855
@jeweinberg

Try this:
 ```sdf = pd.DataFrame.spatial.from_xy(data, 'lat', 'lon', 102100)```

[2020-12-08 14:24] jeweinberg commented on #855
Ok, that could get me a solution for now. Will specifying sr in the from_xy method actually re-project the data, or does that just specify what projection the data is already in?

[2020-12-08 14:29] achapkowski commented on #855
The `pyproj` messages are not errors, they are warnings, so it is reprojecting the data.  `pyproj` moved from v1 to v2 and on v2 they had breaking changes.

[2020-12-08 14:34] jeweinberg commented on #855
Yeah, I see that it re-projects but the points of polygons go out of order. I think pyproj has an always_xy flag that needs to be turned to True to fix it.

[2020-12-08 14:42] EdFarrell commented on #852
@DavidJVitale - thanks! I was looking at the release page in GitHub instead of just checking pypi. Any docs on new features would be great. I needed this version specifically for Workforce integration with the new Workforce projects (instead of "classic"). Closing this.

[2020-12-08 14:42] #852 closed

[2020-12-08 15:36] philnagel commented on #430
Hi @AtmaMani it seems the solution you posted above has been removed from the docs. Is this no longer supported? I am unable to import `arcgis` without import errors now.

[2020-12-08 16:09] PoojaGambhir16 commented on #854
As suggested, I upgraded the api to 1.8.3 but still the issue persists.
Setting the polygon layer fill color blank
Then migrated my web map using python api and cloned map shows polygon layer with black fill .

[2020-12-09 05:02] jrmatchett commented on #776
I've been experiencing the same issue with arcgis version 1.8.x. Digging through the code, it appears that several `FeatureLayer` methods, such as `query`, issue a call to a `Connection` object's `post` method, which requires a token to be specified. All those calls set the token parameter to `self._token`; however, `_token` is apparently not being set for a `FeatureLayer` object. The token does e

[2020-12-09 11:03] #855 closed

[2020-12-09 11:10] achapkowski commented on #855
@jeweinberg we have put in a fix for the 1.9 release.

[2020-12-09 19:53] jrmatchett opened #862 "MapView.zoom_to_layer error when using a spatially-enabled dataframe with a wkid:4326 spatial reference"
**Describe the bug**
I'm plotting on a map a spatially-enabled dataframe of points defined using geographic coordinates. When attempting to zoom the map to the point layer, an error is generated.

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]

**Expected behavior**
Map zooms to the points layer. This was working correctly in `arcgis version 1.7`.

**Platform (please comple

[2020-12-10 14:49] walesdata commented on #827
I'm getting this same error when calling GIS() on any URL of our ArcGIS Enterprise install.

print("ArcGIS Enterprise login proof of concept")
gis = GIS("https://enterprise.landintelligence.net", username, password)
print("Logged in as " + str(gis.properties.user.username))

Produces:

ArcGIS Enterprise login proof of concept

-----------------------------------------------------------------------

[2020-12-11 07:43] AtmaMani commented on #852
@EdFarrell per the current plan, the API will be released next Friday (12/18/2020). You can see the new samples, guides in this milestone: https://github.com/Esri/arcgis-python-api/milestone/3. For a raw look into what's new in 1.8.3, you can checkout the release notes PR at https://github.com/Esri/arcgis-python-api/pull/820. This is work-in-progress.

[2020-12-11 13:32] PoojaGambhir16 commented on #854
Anyone facing same issue while cloning web map having no-fill polygon layers?

[2020-12-12 17:51] jrmatchett commented on #776
Digging into this a bit further, it seems the problem is that the `Connection` class' `generate_portal_server_token` method doesn't handle the case of OAUTH authentication using a client ID. I modified that method (located in file `arcgis/gis/_impl/_con/_connection.py`) to return the existing connection token:
[code]

[2020-12-14 06:34] mw1m opened #874 "Spatially Enabled Data Frame not working with pandas datetime"
**Describe the bug**
Attempting `sdf = pd.DataFrame.spatial.from_layer()` returns a warning "FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead." and gives me "Exception: Could not load the dataset: dtype '<class 'pandas.__DatetimeSub'>' not understood"

Are there any workarounds to downloading AGOL data with Pyt

[2020-12-14 06:50] AtmaMani commented on #874
@mw1m could you please update to v1.8.3 and retry? We recently fixed a bunch of datetime related bugs in spatially enabled DataFrames

[2020-12-14 22:50] mw1m commented on #874
Tried upgrading using `conda upgrade -c esri arcgis` in the Python Command Window, and checked ArcGis Pro Update Packages list, nothing lets me update it beyond 1.5.3 and I'm thinking it might have something to do with my organisation's permissions.
Am I out of options?

[2020-12-15 06:09] AtmaMani commented on #874
If you are using Pro, you may have to [clone your environment](https://pro.arcgis.com/en/pro-app/latest/arcpy/get-started/work-with-python-environments.htm) and then update the API. Start the 'Pro Python command prompt' with elevated privileges (as administrator) and run

[code]
then activate it
[code]
then install Python API. You may have to unpin as shown below:
[code]

[2020-12-15 16:47] PoojaGambhir16 commented on #854
I tried to clone web map from one portal environment to another using polygon layer with no fill and same issue the polygon is shown with black color. I have checked the json created as well it is showing correct value as None but still I am getting this issue

![image](https://user-images.githubusercontent.com/62989674/102245204-2d215180-3ef5-11eb-947f-c8caaa653256.png)

[2020-12-15 21:38] jeweinberg opened #886 "from_df error"
The from_df function throws "key error" when the index of a dataframe doesn't start at 0 and/or skips integers. When slicing a dataframe in pandas it is common to have an index that does not start at 0 and may be missing some index keys or for the index to not be an integer at all. You are using .loc which is not the integer indexer for pandas. You should instead use iloc.

pd.DataFrame.spatial.fr

[2020-12-15 21:45] jeweinberg opened #887 "create a "to_file" method on the GeoAccessor object"
It would be extremely convenient if the GeoAccessor had a to_file function that would save the dataframe to disk using different drivers. Example drivers would be geojson, gpkg, shp.

[code]

[2020-12-15 22:00] AtmaMani commented on #887
The [`df.spatial.to_featureclass()`](https://developers.arcgis.com/python/api-reference/arcgis.features.toc.html#arcgis.features.GeoAccessor.to_featureclass) can be used to write the DF to shapefiles, fgdb etc. We will support geopackages in the near future. Are there any other formats?

[2020-12-15 22:00] #887 closed

[2020-12-16 12:58] jm-esri opened #888 "location-Parameter in suggest not optional"
In the arcgis.geocoding module, the function suggest has an (optional) **location** parameter - but at the moment (Version 1.8.1) this parameter is required.

Example:
from arcgis.geocoding import suggest
results = suggest(text='Kranzberg, Ringstrasse 7')

Error:
---------------------------------------------------------------------------
TypeError                                 Traceback (most re

[2020-12-16 13:16] jeweinberg commented on #887
I can only get to_featureclass to create shape files. How do you use it to create other files? The documentation says nothing about to_featureclass handling other format types. I would like it to handle geojson, gpkg and shape. Also calling it to_featureclass doesn't seem to make sense either. It makes the api confusing, to_featureclass sounds like you are converting the python object type. It doe

[2020-12-21 00:36] Mungakha opened #890 "ArcPro 2.7 failing to execute sdf.spatial.to_featureclass()"
**Describe the bug**
Have been using ArcPro 2.6 to download feature layer from ArcGIS Online, write the resulting spatially enabled dataframe into a geodatabase on local disc to resource multiple business processes. I updated  to ArcPro 2.7 and the process now returns the following error ``` ValueError: invalid JSON data```. I reinstated 2.6.2 and now it works ok

**To Reproduce**
Steps to reprodu

[2020-12-21 01:35] d3netxer opened #891 "Cannot export notebook in ArcGIS Pro"
**Describe the bug**
I am following the documentation.

**To Reproduce**
Steps to reproduce the behavior:
[code]
# this is version1
%%bash
ipython nbconvert  'Index.ipynb'
[code]
error:
[code]

**Expected behavior**
I want to export my notebook. Also, when I try to save different versions of the notebook in different ArcGIS Pro Projects, they all link to the same notebook.

**Platform (please comp

[2020-12-30 09:51] priyankatuteja commented on #708
@hallafarid I can try reproducing it at my end if you provide some sample data since I could not reproduce it with the data I have.

[2020-12-30 09:56] priyankatuteja commented on #710
@soufianemns If you are still facing issues, please share with us a small subset of your training data. This could help us reproduce the issue.

[2020-12-30 10:06] priyankatuteja commented on #750
To fix this error, you need to install dependencies required to run PointCNn model. commands for anaconda users

[code]

[2020-12-30 10:09] priyankatuteja commented on #754
@chenzhaiyu Thanks for reporting it.
cc @vbhv14

[2020-12-30 10:14] priyankatuteja commented on #628
@tyhayward We have a latest arcgis version 1.8.3 recently released. If you're facing issues with 1.8.0, please consider updating the version and reopen the issue if needed. Thanks!

[2020-12-30 10:14] #628 closed

[2020-12-30 10:14] priyankatuteja commented on #628
@tyhayward We have a latest arcgis version 1.8.3 recently released. If you're facing issues with 1.8.0, please consider updating the version and reopen the issue if needed. Thanks!

[2020-12-30 10:15] priyankatuteja commented on #592
@mschenker We have updated the notebook and it should be working without errors now, Thanks for reporting it.

[2020-12-30 10:15] #592 closed

[2020-12-30 10:23] priyankatuteja commented on #561
@kuttamuwa You could try this workaround https://community.esri.com/t5/imagery-and-remote-sensing/deep-learning-to-assess-palm-tree-prepare-data-problem/m-p/411499/highlight/true#M3770

[2020-12-30 10:25] #586 closed

[2020-12-30 10:26] priyankatuteja commented on #586
@samuello4 I hope this helped you. Please reopen issue if required.

[2020-12-30 10:28] priyankatuteja commented on #604
@EveryoneInOne You will be glad to know that we have released a newer version of Arcgis API for Python i.e. 1.8.3. I hope your issue got fixed. If not, please consider updating the version and retrying. I am closing the issue, open if needed.

[2020-12-30 10:28] #604 closed

[2020-12-31 08:17] priyankatuteja commented on #891
@d3netxer Could you please share the steps to reproduce this behavior.

[2021-01-07 16:02] rodrigoalmeida94 commented on #776
I also encountered this issue and the suggestion you made @jrmatchett seems to fix the issue! Thanks a lot :) Any clue how we could try to get maintainers attention on this? Seems like a relatively important mishap.

[2021-01-07 16:11] rohitgeo commented on #743
This is an error due to limited shared memory available to the process. Please try reducing the batch size or making more memory available to the process

[2021-01-07 16:11] #743 closed

[2021-01-07 16:12] #750 closed

[2021-01-07 18:00] achapkowski commented on #776
We are working to address this issue.  Thank you for reporting this.

[2021-01-07 18:43] achapkowski commented on #776
We fixed the issue already at 1.9.x, but I will include it in a 1.8.4 backport.

[2021-01-08 08:43] rodrigoalmeida94 commented on #776
Fantastic @achapkowski ! Thanks a lot 👍

[2021-01-08 11:20] achapkowski commented on #776
@rodrigoalmeida94 thank you for letting us know about your issues and please continue to let us know if you encounter anything.

[2021-01-11 11:21] tino415 opened #899 "Invalid dependencies in pip"
**Describe the bug**
Today I tried to install this library using pip on python 3.5 (on esri community forum I got answer that it is because of python version)

**To Reproduce**
Install on python 3.5 and try to require it
[code]
error:
[code]

**Expected behavior**
To by able to use library

**Platform (please complete the following information):**
 - Debian Jessie
 - python 3.5

**Additional conte

[2021-01-11 21:40] DavidJVitale commented on #899
Thank you @tino415 . You are correct that the Python API will not work with python3.5, due to our use of fstrings (introduced at python3.6). We have stopped releasing 3.5 conda packages, but we forgot to do this for pip.

I will work on removing the 3.5 information in the setup.py file for our future releases.

[2021-01-12 06:53] priyankatuteja commented on #800
Fixed.

[2021-01-12 06:53] #800 closed

[2021-01-12 06:53] priyankatuteja commented on #800
https://developers.arcgis.com/python/sample-notebooks/detecting-and-categorizing-brick-kilns-from-satellite-imagery/

[2021-01-12 09:59] guneetmutreja commented on #793
Able to generate the results in the v1.8.3 and the latest version of the ArcGIS API for Python.
Here is the screenshot:
![image](https://user-images.githubusercontent.com/13011513/104299068-bf177c80-54ea-11eb-959b-8cc6cb7a454c.png)

Closing the issue, feel free to reopen if you still are facing the issue @SethDocherty

[2021-01-12 09:59] #793 closed

[2021-01-13 06:58] sandeepgadhwal commented on #807
Related to https://github.com/pypa/virtualenv/issues/737 https://github.com/pypa/pipenv/issues/3824

[2021-01-13 07:34] sandeepgadhwal commented on #807
@priyankatuteja @steveoh

The problem is in the default environment. You can use something like this to create a new virtual environment and run tests

https://github.com/sandeepgadhwal/travis_arcgis_test

[2021-01-13 15:29] davidgaworski opened #901 "show_batch(), lr_find() not working on RTX 3070."
**Describe the bug**
After upgrading my PC with a 3070 the arcgis.learn no longer executes as expected. It takes 30 minutes to show_batch() and the images are pixelated and not displaying properly.

**Troubleshooting Steps**
I've done a clean install of windows and ArcGIS Pro / Deep Learning toolkit. I've tried running the notebook in ArcGIS Pro and Jupyter Notebooks with no luck.

**To Reproduce*

[2021-01-15 09:35] priyankatuteja commented on #901
@davidgaworski What version of ArcGIS Pro are you using? Could you also share the output from show batch? Moreover, are you facing any errors moving ahead with training of the model. Incase, you are facing error in model.lr_find(), please share the error trace too.

[2021-01-15 09:40] AngadKundra commented on #901
@davidgaworski in addition to the above steps,

you could perform another check to make sure torch is able to access your gpu.

import torch
print(torch.cuda.is_available())
print(torch.device("cuda"))

[2021-01-15 15:07] priyankatuteja commented on #890
I tried to reproduce this issue.
Screenshot below shows the same code run using ArcGIS Pro's Python command prompt (Version 2.6):
![image](https://user-images.githubusercontent.com/39754605/104728633-30f6fc80-575d-11eb-86ef-9453d2983a1e.png)

The same code is run using ArcGIS Pro (2.6) embedded notebook:
![image](https://user-images.githubusercontent.com/39754605/104729248-28eb8c80-575e-11eb-8155-

[2021-01-15 15:19] priyankatuteja commented on #890
@Mungakha Can you try the code mentioned below and see if you still get some error:

[code]

If so, please open close any already open Python command prompts and close ArcGIS Pro as well Then uninstall and reinstall pro 2.7. After that try running the code mentioned above.

[2021-01-15 15:54] priyankatuteja commented on #888
@jm-esri We are glad to inform you that the latest version of arcgis api for python i.e. 1.8.3 now has this parameter optional.

![image](https://user-images.githubusercontent.com/39754605/104748624-f2227000-5777-11eb-83fb-9e79d56eaced.png)

[2021-01-15 15:54] #888 closed

[2021-01-15 16:16] priyankatuteja commented on #886
@jeweinberg Thanks for reporting it.

@achapkowski Could you check if this needs to be fixed.

code to reproduce:
[code]

error:
[code]

[2021-01-15 17:16] priyankatuteja commented on #874
@mw1m As Atma mentioned, after you do the above steps, please update if you are able to run the code successfully,
Alternatively, you could also create an anaconda environment using the following command:
[code]
Then launch jupyter notebook in the desired directory.

code to reproduce:
[code]

[2021-01-15 18:13] priyankatuteja commented on #862
I could get it running with 1.8.3 arcgis version, but tried it on windows OS. I am not sure if it's something with macOS. @achapkowski Could  you have a look at this.

![image](https://user-images.githubusercontent.com/39754605/104762574-97deda80-578a-11eb-8392-c78d810d7a31.png)

code:
[code]

[2021-01-15 18:48] priyankatuteja commented on #856
@jeweinberg  Thanks for reporting it. ArcGIS API for Python version: 1.8.3 handles this now.

![image](https://user-images.githubusercontent.com/39754605/104765835-8ea43c80-578f-11eb-9974-19ba6532d012.png)

The input points used as facilities are not within the data coverage area. You could try the following code to verify the 'time_impedance' key error.

code:
[code]

For @achapkowski , the same

[2021-01-16 04:31] davidgaworski commented on #901
Pro is version 2.6, but my primary tool has always been using the notebook server outside of Pro. Below is the output of batch, it took over 30 minutes to show up, but was clear this time. No errors are outputting from any steps, the batch just never seems to load when I start lr_find() or model.fit() which is very odd. For fit() I just get stuck on 0/0 for the first epoch.

![BatchOutput](https:/

[2021-01-16 06:03] priyankatuteja commented on #901
I think if you aren't getting any error and the same workflow runs fine on other PC, could you try with a smaller batch size may be 2 or 4. Also, as you run it, check with the help of task manager if GPU is getting utilized or not and how much GPU memory is getting consumed/or is available.

[2021-01-16 06:13] davidgaworski commented on #901
My resources are not taxes, this is the screenshot for when the batch is called and running. This was something I posted on GeoNet before coming here.

I've since installed 16gb of RAM and still having the same issues. Even on a PC without a GPU show_batch runs this in about 10 seconds. Show_batch of any amount (1,2,4) leads to almost the exact same load time as 8.

![Show_Batch_Slow](https://user

[2021-01-16 06:34] priyankatuteja commented on #849
![image](https://user-images.githubusercontent.com/39754605/104799174-f049c280-57f2-11eb-8555-0130c234978c.png)

@Hlindemann Could you try it the way it's shown in the screenshot above.

[2021-01-16 07:08] priyankatuteja commented on #827
@Biboba Apologies for the delay in response! I have been able to reproduce this error too. Thanks for reporting it.

@achapkowski I get the same error with any of the following commands

[code]

[2021-01-16 07:15] priyankatuteja commented on #821
portal_url = "https://pythonapi.playground.esri.com/portal"
portal_user = "arcgis_python"
portal_pwd = "amazing_arcgis_123"

Please try with the correct url. Let us know if it still doesn't work.

[2021-01-16 07:34] priyankatuteja commented on #779
@logan-pugh Thanks for reporting it.
cc @jyaistMap

[2021-01-17 09:41] PeaceNlove opened #904 "Create View layer from arcgis api for python"
**Is your feature request related to a problem? Please describe.**
In Portal for ArcGIS, you can create a View Layer from a hosted feature service. I would like to do the same from the Python API. However, I cannot find such function in the documentation or on the properties or functions of the item and layer objects when debugging this sample code

[code]

**Describe the solution you'd like**
A f

[2021-01-17 22:45] mw1m commented on #874
Thanks for your help @priyankatuteja  and @AtmaMani
Updating using the ` conda upgrade --no-pin arcgis` ended up doing the trick!

[2021-01-17 22:45] #874 closed

[2021-01-18 02:55] #723 closed

[2021-01-18 03:45] AngadKundra commented on #901
@davidgaworski

After model initialization,
could you print the value of model._device

This is an internal variable which stores the device on which the model has been loaded. This will help us in confirming if the model has been loaded on GPU or not.

[2021-01-18 05:55] Hlindemann commented on #849
Hi @priyankatuteja, than you very much for the assistance the workflow described above is working.

Would it be possible to just update the documentation with an example I don't think the setter decorator is widely used in the API and this is probably going to cause some confusion down the road again.

Kind Regards
Henry

[2021-01-18 05:55] #849 closed

[2021-01-18 22:35] mrkjns opened #905 "Dataframe.spatial.from_layer error"
The from_layer function returns a token error when used with ArcGIS Online to return a Spatially Enabled Dataframe when connecting to the GIS object using OAuth2 authentication, as per Esri Bug - BUG-000136625 for Portal for ArcGIS.  In this case it is not possible to connect using a built in account.

item = gis.content.get("itemid")
featLayer = item.layers[0]

[code]
[code]

**Platform (please c

[2021-01-20 02:43] Mungakha commented on #890
Trying with a ArcPro 2.7 downloaded from MyEsri on 21/12/2020 and installed on two different computers; my pc and a Virtual Machine in Azure, the error replicated itself

![image](https://user-images.githubusercontent.com/52562426/105119947-43ca5200-5b0c-11eb-87f4-ce8d1ce75e8b.png)

[2021-01-29 14:44] ATL2001 opened #916 "add "replace_coded_values" kwarg to fileops.from_featureclass function"
I've recently been working with a database schema that uses lots of coded value domains.  When using pd.DataFrame.spatial.from_featureclass() to pull the data into a dataframe, the resulting data frame is populated with the coded values of the data.  The coded values then need to be converted to their descriptions lots of the time for my analysis projects.  I've extended the function on my machine

[2021-01-29 17:29] achapkowski commented on #916
Pandas has a built in method to do this: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html

Please check that out, it might be faster.

[2021-01-29 17:36] ATL2001 commented on #916
yes, the code I wrote uses that pandas replace to function with the domain object's codedValues dictionary to substitute the coded value for the description.

[code]

[2021-01-29 21:32] ATL2001 commented on #916
Also for your consideration, the following code is working for me when getting descriptions instead of codes from the from_table() function:

[code]

[2021-02-01 17:21] jeremiahsa commented on #905
I'm having this same issue using the SpatialDataFrame.from_df(my_dataframe)

[2021-02-03 14:57] cdflint opened #917 "arcgis.gis.admin.Collaboration.sync_status"
**Is your feature request related to a problem? Please describe.**
Missing functionality between sync and sync_details.  The output of sync is a dict with the keys jobId, key and success.  The sync_details requires a syncId as input and jobId != syncId.  Implementing a sync_status step would provide the python api a programmatic way of querying all syncId's for a particular workspace_id.  Provided

[2021-02-03 15:36] wiringa opened #918 "Group remove_users argument differs between documentation and implementation"
**Describe the bug**
The argument taken by the `remove_users` method of `arcgis.gis.Group` does not match [its documentation](https://developers.arcgis.com/python/api-reference/arcgis.gis.toc.html#arcgis.gis.Group.remove_users). The documentation calls for "a comma-separated list of users to be removed," the method expects a list or iterable.

**To Reproduce**
No error is produced. Users are not p

[2021-02-04 18:04] farzanehashemabadi opened #919 "Clip_analysis tool of Arcgis API"
Dear all,
I use arcpy library for Clip_analysis, but now I want run my script with Arcgis API, so how can I Clip_analysis by Arcgis package?
also I want to know what are replacements of "arcpy.env.workspace", "arcpy.ListFeatureClasses" and "arcpy.da.SearchCursor" in Arcgis API?
my old script attached below.

###Clip and calculate Risk value ###

import os
import arcpy
#import shapefile
import glob

[2021-02-05 13:58] farzanehashemabadi opened #920 "Clipping by Using Arcgis API for python?"
use ArcPy library for Clip_analysis, but now I want run my script with ArcGIS API for Python, so how can I Clip using the ArcGIS API for Python?

My script with ArcPy attached below.

###Clip and calculate Risk value ###

import os
import arcpy
#import shapefile
import glob
from arcpy import env

#setting my source and target geodatabase
base_dir = os.path.dirname(file)

#setting my clip feature (

[2021-02-05 14:02] achapkowski commented on #920
Take a look at these guides: https://developers.arcgis.com/python/guide/part3-spatial-operations-on-geometries/

[2021-02-05 14:02] #920 closed

[2021-02-05 14:03] achapkowski commented on #919
related to issue #920

[2021-02-05 14:03] #919 closed

[2021-02-05 14:03] achapkowski commented on #918
@jyaistMap Please take a look at the doc.

[2021-02-05 14:06] achapkowski commented on #917
Thank you for reporting this.  We will add it to the list of things to consider adding to the 1.9 release.

This is about missing this method: https://developers.arcgis.com/rest/users-groups-and-items/sync-status.htm

[2021-02-05 16:01] achapkowski commented on #904
The create_view functionality exists on the `FeatureLayerCollectionManager`.

See: https://developers.arcgis.com/python/api-reference/arcgis.features.managers.html?highlight=create_view#arcgis.features.managers.FeatureLayerCollectionManager.create_view

Sample Code.

[code]

[2021-02-05 16:01] #904 closed

[2021-02-05 16:01] #899 closed

[2021-02-05 21:29] jdcarls2 opened #921 "Empty query result using as_df ignores out_fields and return_geometry parameters."
**Describe the bug**
When a feature layer query returns no features, the resulting dataframe retains the full schema of the layer, even if the `out_fields` parameter is defined or `return_geometry` is set to `FALSE`.

**To Reproduce**
Steps to reproduce the behavior:
[code]
Returns:
|objectid|field_one|field_two|field_three|all_the_rest|SHAPE|
|-|-|-|-|-|-|

Whereas if the query returns features,

[2021-02-09 03:16] Mungakha commented on #890
This was resolved by patch [2.7.1](https://community.esri.com/t5/arcgis-pro-documents/arcgis-pro-2-7-patch-1-is-available/ta-p/1022652)

[2021-02-09 03:16] #890 closed

[2021-02-09 16:28] mquetel commented on #630
@Hlindemann Would it be possible to get sample code that demonstrates the workflow you screen grabbed above, which opens a browser in python and prompts for SAML login?  I've been searching for an example and have failed to find an esri provided one.  Thanks in advance!

[2021-02-10 07:07] Hlindemann commented on #630
Hi @mquetel
so you create a application in AGOL
![image](https://user-images.githubusercontent.com/21313366/107476617-e1022e80-6b7e-11eb-88bd-2a4e667870bf.png)

Under Settings go to registered info and get the App ID and replace the client_id parameter below with the app id.
[code]

[2021-02-10 12:03] ATL2001 commented on #916
unfortunately I discovered yesterday that my code doesn't take into account for the situation where a domain is applied to a specific subtype of a featureclass.  I haven't tackled that issue yet, but figured it would be worth noting here in case any one else is looking at this code and comes across the same situation.

[2021-02-12 17:34] drewlevitt opened #923 "sedf.spatial.to_featureclass(sanitize_columns=True) always mutates the calling SEDF"
The Spatially Enabled DataFrame [method](https://developers.arcgis.com/python/api-reference/arcgis.features.toc.html#arcgis.features.GeoAccessor.to_featureclass) `to_featureclass()` has a `sanitize_columns` parameter. If `True`, column names will be converted to snake_case (lowercase with underscores between words). This is a potentially useful option, but unlike the `sanitize_column_names()` meth

[2021-02-12 22:25] ts178409 opened #924 "Clone_items returns _ItemCreateException"
**Describe the bug**
A clear and concise description of what the bug is.

I am attempting to clone a group of items in ArcGIS Online that inclues hosted feature layers, views, web maps, and web apps. These items have relationship classes based on script-generated keys that populate string fields, such as 'visit_key', 'survey_key', etc. The source items have been used extensively and work well in A

[2021-02-14 08:35] Mbarzegar-unimelb opened #925 "Try it live part of Automatic road extraction using deep learning tutorial"
**Describe the bug**
Try it live part of Automatic road extraction using deep learning tutorial doesn't work.

**To Reproduce**
from arcgis.learn import prepare_data, MultiTaskRoadExtractor
import os, zipfile
from pathlib import Path
from arcgis.gis import GIS
gis = GIS('home')
training_data = gis.content.get('b7bbf2f5f4184960890afeabbdb51a32')
training_data
filepath = training_data.download(file_

[2021-02-15 04:05] mariamjamilah opened #926 "solve_closest_facility tool gives an error while creating spatial reference"
Hello,

While running the following [sample notebook] (https://developers.arcgis.com/python/sample-notebooks/finding-hospitals-closest-to-an-incident/), I get the below error when executing the "solve_closest_facility" tool. I have tried using a different spatial reference as well as using different user accounts to make the gis connection, but nothing helps. Please advice.

Exception: An error oc

[2021-02-23 22:51] bixb0012 opened #927 "arcgis.gis.server.admin.administration.Server Continues to Mangle arcgis.gis._impl._con._connection.Connection"
This bug report looks very similar to https://github.com/Esri/arcgis-python-api/issues/748 because the "fix" for that defect didn't actually fix the defect, it simply replaced one defect with a new defect.

Using the same code samples from the original bug report:
[code]
In the 1.7.x branch, the connection looks like the following:
[code]
while in the 1.8.4 branch the connection looks like:
[code]

[2021-02-24 10:34] salmagro opened #928 "Python api running in google colab"
Dear awesome ESRI community.

Are there plans or a method to run the API and the deep learning capabilities in **google colab**?

If yes, what will be the process to have it running?

There is some discussion around this topic on https://github.com/googlecolab/colabtools/issues/498 and https://github.com/googlecolab/colabtools/issues/1255

Appreciate your comments.

[2021-02-25 17:56] Forester81 opened #929 "Output .csv and spatial dataframes contain lowercase column names"
**Describe the bug**
Using "data.frame.spatial.to_featureclass" outputs all column names as lower case. It also re-formats the dataframe in memory to have lowercase column names after calling data.frame.spatial.to_featureclass. This was not an issue in the previous API

**To Reproduce**
Steps to reproduce the behavior:
[code]

[2021-02-25 18:56] #929 closed

[2021-02-26 16:52] priyankatuteja commented on #928
@salmagro Thanks for reaching out to us.

**Steps for using arcgis api for python and deep learning capabilities on google colab:**
1. Run the following block of code in one cell.
[code]
2. Run the following block of code in another cell.
[code]
3. Continue with usual workflow, to refer please see [this notebook](https://colab.research.google.com/drive/10B7YH11eO1XulbHuTG9S7sqP7Uy7h_8H?usp=sharing

[2021-02-26 16:59] priyankatuteja commented on #928
@salmagro We are glad to tell that, we offer ArcGIS Notebook Server with a ready to use deep learning environment  which is GPU enabled. To experience it, you could use these credentials:
https://geosaurus.maps.arcgis.com, arcgis_python, P@ssword123.
![image](https://user-images.githubusercontent.com/39754605/109330682-f4e9a800-7881-11eb-9559-1499019cdc8c.png)

To utilize GPU, create a notebook us

[2021-02-26 18:30] isaacviel opened #930 "1912 bad links in the python doc"
**Describe the bug**
1912 bad links across the https://developers.arcgis.com/python/ section

**To Reproduce**
See https://link-checker.afd.geocloud.com/#prod#python

error:
4xx

**Expected behavior**
Users and search engines should find all links working as expected.

@AtmaMani and team, we really need to get the bulk of these link fixes prioritized as we're receiving a lot of negative feedback f

[2021-02-26 21:54] cgarrard opened #931 "spatial.from_geodataframe() mangles geometries"
**Describe the bug**
Using `pd.DataFrame.spatial.from_geodataframe()` sometimes results in mangled geometries. It seems this is especially true when there are lots of smaller geometries surrounded by larger ones.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Screenshots**
I picked an especially egregious example. This is the original data, and what it looks like after it's been read

[2021-02-28 02:16] #928 closed

[2021-02-28 08:17] priyankatuteja commented on #925
The code you shared seems to be outdated. Could you please use the updated notebook again.
https://geosaurus.maps.arcgis.com/home/item.html?id=72b6c19f5944424f830b44346f0fef89 Click on try it live button, log in using credentials: https://geosaurus.maps.arcgis.com, arcgis_python, P@ssword123

[2021-02-28 08:29] #901 closed

[2021-02-28 08:31] priyankatuteja commented on #905
@jeremiahsa @mrkjns Could you try this with arcgis version 1.8.4 . To install conda install -c esri arcgis=1.8.4

[2021-02-28 08:32] priyankatuteja commented on #905
@jeremiahsa @mrkjns Could you try this with arcgis version 1.8.4 . To install conda install -c esri arcgis=1.8.4

[2021-02-28 08:40] priyankatuteja commented on #807
@sandeepgadhwal Thanks! @steveoh Please try the steps and let us know if you still face it.

[2021-02-28 08:40] #807 closed

[2021-03-01 09:54] ech-rho opened #932 "batch_geocode fails with defined OBJECTID"
**Describe the bug**
With batch geocoding, it is useful to define a unique ID for each input address. If OBJECTID is defined for the input addresses, batch_geocode fails with an IndexError (list assignment index out of range).

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]

**Expected behavior**
If OBJECTID is defined for the input addresses, batch_geocode should return th

[2021-03-01 15:14] jdcarls2 opened #933 "Property Description on User Class"
**Describe the bug**
The table of properties in the *User* class lists the **disable()**  method description where the **disabled** boolean property should be.

See https://github.com/Esri/arcgis-python-api/blob/master/apidoc/arcgis.gis.toc.html#L2074

[2021-03-01 23:34] isaacviel opened #934 "Update: GeoNet => Esri Community"
All references to `GeoNet` need to change to `Esri Community`

New logo:

https://github.com/ArcGIS/esri-product-logos/tree/master/Esri%20Community

Use either `Esri Community` or `the Esri Community`

Example: https://developers.arcgis.com/python/support/

[2021-03-02 10:51] achapkowski commented on #934
@mohi9282  and @AtmaMani please take a look at this issue.

[2021-03-02 19:01] johngalambos opened #935 "Incorrect use of Item constructor in StatusJob implementation causes errors with GroupMigrationManager load method"
**Describe the bug**

When attemping to load an epk file using python arcgis.gis.GroupMigrationManager I am getting the following error:

`TypeError: __init__() got multiple values for argument 'gis'`

I believe this is due to an incorrectly used Item constructor  inside the StatusJob class.

**A clear and concise description of what the bug is.**

As the error message points out the Item construc

[2021-03-03 17:53] crackernutter opened #936 "sedf.spatial.to_featureclass sanitize_columns parameter is a breaking change"
**Is your feature request related to a problem? Please describe.**
I use the sedf.spatial.to_featureclass to create temporary feature classes I then append to enterprise geodatabase tables.  The issue is with the most recent release that the sanitize_columns parameter defaults to true, which from my perspective constitutes a breaking change from the previous versions without that option.  Appendin

[2021-03-03 17:55] crackernutter commented on #923
I was just going to mention something similar.  It seems like that sanitize_columns defaulting to True would be a breaking change, since any workflows that rely on this generate feature classes with different field names than previous versions of the API did.

[2021-03-03 18:40] drewlevitt commented on #923
As of `arcgis` version 1.8.3 this _is_ a breaking change, in that somewhere between version 1.7.0 and 1.8.3 the `sanitize_columns` parameter was both added _and_ set to default to True. This is how I noticed this issue: the new version of `arcgis` broke my old workflow. 😢

[2021-03-08 21:00] DjebelV opened #939 "Detecting Swimming Pool - naip_ml missing"
Hi, just trying to execute the notebook which can be found here
-> https://geosaurus.maps.arcgis.com/home/item.html?id=122fb4b5a2094f3398b1d96381022f64

But looks like the naip_ml does not exist anymore ?

Jerome

[2021-03-09 07:17] SCMGeocom opened #941 "Visual Studio Code not showing maps with Python 3.8"
**Describe the bug**
Trying to show a map inside jupyter notebook in Visual Studio Code when using a new conda environment (not the one from ArcGIS Pro) .
The map shows an unhandled error.
![image](https://user-images.githubusercontent.com/47363379/110432318-3adb1300-80af-11eb-8205-c12d7c4b6166.png)

**To Reproduce**
Steps to reproduce the behavior:

create a new conda env as described here: https

[2021-03-10 08:33] nam-tonthat commented on #941
I'm also having this error.

Same platform but also tested on a this platform:

- OS: Mac OS Big Sur
- IDE: Visual Studio Code
- Python v3.8.5

Works in Jupyter Notebook if Notebook has 'Trusted' status activated. Otherwise, same error.

[2021-03-11 03:08] Detteor opened #942 "Features.GeoAccessor.from_table Skip_Nulls Parameter change Default to False"
When creating a DataFrame from an arcgis Table, it should follow the same parameter guidelines as the tool in use (arcpy.da.TableToNumpyArray). It will be easier to deal with these null values after creating the DataFrame.

Solution:
To change the default boolean from true to false to be in-line with the tool in use.

[2021-03-17 20:30] UnderJollyRoger opened #947 "KeyError: 'type' when publishing CSV to Enterprise Portal"
I have a CSV file that I cannot publish to ArcGIS Enterprise Portal from a ArcGIS Pro Notebook. I have a stand-alone script that requests JSON from a URL and writes it to a CSV. The content has no special characters that I'm aware of. When opening the CSV from my stand-alone script, I encoded it to `utf-8`. But, when subsequently attempting to publish to the Portal I get the KeyError. I'm suspecti

[2021-03-18 12:16] achapkowski commented on #947
Try the workflow below.

[code]

[2021-03-18 14:14] UnderJollyRoger commented on #947
I ran into an error on step 2. Up until this I've had no problems. I've added the CSV file to the Portal in step 1.

[code]
[code]

[2021-03-18 14:19] UnderJollyRoger commented on #947
From the Portal Administrator Directory:
![image](https://user-images.githubusercontent.com/32503258/111641244-f5af9300-87ca-11eb-9ea9-a845f46876a7.png)

[2021-03-18 14:24] UnderJollyRoger commented on #947
Sorry, I just noticed the name of the above CSV is from a CSV I tried publishing yesterday. I mistakenly thought it was an error message from the CSV I tried publishing (vaccine_test.csv) just now.

[2021-03-19 06:34] shivanip32 opened #950 "DeepLab model.fit table is not showing correctly"

[2021-03-19 06:40] #950 closed

[2021-03-19 07:40] Biboba opened #951 "Group property "provider_group_name" does not exist"
**Describe the bug**

The group property "provider_group_name" does not exist:
```KeyError: 'provider_group_name```

**To Reproduce**
Steps to reproduce the behavior:

First, create a group and secure it with an enterprise group. Then retrieve that group and try to access the "provider_group_name" property:
[code]
error:
[code]

**Expected behavior**
I would like to be able to retrieve the enterpr

[2021-03-19 18:09] AtmaMani commented on #934
@isaacviel the text comes from https://github.com/ArcGIS/arcgis-for-developers/blob/master/src/layouts/documentation/_support.html#L36. Since its a common location (not specific to Python API), who should edit this? We can send a PR but want to ensure its a safe edit.

[2021-03-19 18:09] AtmaMani commented on #934
cc @priyankatuteja

[2021-03-19 21:14] AtmaMani commented on #951
To access the provider group name, please access it as : `<arcgis.gis.Group>.providerGroupName` instead of `provider_group_name`

[2021-03-19 21:14] #951 closed

[2021-03-19 21:49] mohi9282 commented on #942
@Detteor - thank you for providing the feedback. Unfortunately, we cannot change the default as it may cause unexpected behavior for users that rely on the existing default. The users can change the default behavior at any time by passing `skip_nulls=False`.

[2021-03-19 21:49] #942 closed

[2021-03-19 22:13] AtmaMani commented on #936
@crackernutter you can switch this behavior by setting `sanitize_columns=False`. You can also tune how the sanitizer works using [`GeoAccessor.sanitize_column_names()`](https://developers.arcgis.com/python/api-reference/arcgis.features.toc.html#arcgis.features.GeoAccessor.sanitize_column_names) method along with setting the `sanitize_columns=False` parameter when exporting.

After much discussion

[2021-03-19 22:13] #936 closed

[2021-03-20 05:00] Biboba commented on #951
Sorry, I forget to say that I tried that and it is returning empty None while group does exist and is returned from the REST API ?

[2021-03-22 23:27] jyaistMap commented on #933
Thanks @jdcarls2. Updated the doc strings to correct this. Should be reflected in the api reference next week.

[2021-03-22 23:27] #933 closed

[2021-03-23 00:49] isaacviel commented on #934
Thanks @AtmaMani. I must have missed that one when I made some site changes. I've fixed this instance. However, I wanted to leave this issue open as a reminder to scan all of the Python doc for GeoNet references and change them to Esri Community. If there are no more reference, feel free to close this issue.

[2021-03-23 14:09] BrettFrahm commented on #787
Just wanting to add my voice. Recently needed this for my project and ended up using the REST API to accomplish what I wanted. Generating PDF reports with the Python API would be very helpful. Thanks!

[2021-03-24 11:22] achapkowski commented on #935
we have fixed the issue and it will be in the 1.9 release.

[2021-03-24 11:22] #935 closed

[2021-03-24 11:41] achapkowski commented on #905
@mrkjns can you provide a url to your service?  It looks like from the message that you are not authenticated or allowed to use that service.

[2021-03-24 11:43] #776 closed

[2021-03-24 11:44] achapkowski commented on #756
Can you please expands upon what you did are doing by providing code.  Your description is not enough for us to reproduce or triage the issue.

[2021-03-24 12:00] rohitgeo commented on #756
See [here](https://nbviewer.jupyter.org/github/Esri/arcgis-python-api/blob/master/guide/14-deep-learning/utilize_multiple_gpus_to_train_model.ipynb) for explanation on how to use multiple GPUs to train arcgis.learn models.

[2021-03-24 12:00] #756 closed

[2021-03-24 12:14] achapkowski commented on #931
@AtmaMani @CMPeng please look at this issue.

[2021-03-24 15:58] UnderJollyRoger commented on #947
Using a different CSV I ran the provided script again. This time I got a different error. It failed on the Analyze call again. The 000735 error states there may be a parameter missing, but I'm unsure which.

[code]

[code]

By the way, I was able to publish the CSV as a hosted table in Portal. So, it must something in the script?

![image](https://user-images.githubusercontent.com/32503258/1123411

[2021-03-24 18:02] UnderJollyRoger commented on #947
I did this, and it published:

[code]

[2021-03-26 15:17] Biboba opened #966 "GIS Server: add support for 'Use Local Directory' property if directory is a cache"
**Is your feature request related to a problem? Please describe.**
I would like to be able to configure a local cache directory on my GIS Server as described here:
https://enterprise.arcgis.com/en/server/latest/publish-services/windows/configure-ha-caches.htm

So far I tried the following to get access to GIS Server directory API:

[code]

There is no way to configure "useLocalDir" and "localDirec

[2021-03-26 20:48] kpmcgurk commented on #787
+1, this would be super helpful.

[2021-03-31 05:14] CMPeng commented on #941
Hi @SCMGeocom and @nam-tonthat Map widget display of ArcGIS API for Python is not supported in VS code. Please try jupyter notebooks when it comes to drawing or plotting in maps. Thanks!

[2021-03-31 05:17] CMPeng commented on #939
Hi @DjebelV we are looking into the public enterprise where the `naip_ml` image service is published. Seems that the image server is having issues starting the service right now. Will get back to you when issue is solved. Thanks for logging the issue.

[2021-03-31 05:32] SCMGeocom commented on #941
OK. Means that the 11 million users of the jupyter extension in VS code might be on the wrong path...
And: why is it working when using the ArcGIS pro ENV and not with a cloned one. Not really happy with that answer, but I can understand that you cannot support all kind of different environments.

[2021-03-31 05:32] #941 closed

[2021-03-31 09:55] achapkowski commented on #941
If the map isn't showing in your clone environment, try this:

[code]
I do not use VS Code to work with notebooks, but it should enable it on the environment if it is installed correctly.

[2021-03-31 14:14] UnderJollyRoger commented on #947
But, if I try publishing the CSV with the requested JSON (i.e. if I run the whole script) I still get the JSONDecodeError. Someone on [GeoNet](https://community.esri.com/t5/python-questions/publish-a-csv-to-enterprise-portal-decoding-json-has-failed/m-p/1041406#M60591) suggested I can access my server's REST API and perform add contents and analyze by sending a ```requests.post()``` to the urls. B

[2021-03-31 20:25] UnderJollyRoger commented on #947
This will generate the CSV I want to publish to Enterprise Portal as a hosted table:
[code]

I ran the script you gave me, and this time I imported the ```uuid``` module:
[code]

It gave me the following error:
[code]
If you go by the error and look at line 1 column 1 in the CSV it is a text field with the value 'County'. I've been trying to use Fiddler 4 to view the web traffic while running the

[2021-03-31 21:12] mohi9282 commented on #934
I have scanned various areas of the website and could not locate any other references of GeoNet. Closing the issue for now.

[2021-03-31 21:12] #934 closed

[2021-03-31 21:13] #925 closed

[2021-03-31 21:29] CMPeng commented on #926
Hi @mariamjamilah I cannot repro the issue on my end when using the "Try it live" samples, FeatureSet are created and exported successfully. Can you please provide more details for your failed attempt?
 - are you using the same credentials as in the sample?
 - are you using a customized routing service instead of the default service on AGOL?
 - If nothing is changed, can you please give the sample

[2021-03-31 22:25] AtmaMani commented on #966
Planned for v1.9 of the Python API. @Biboba thanks for reporting.

[2021-03-31 22:25] #966 closed

[2021-03-31 22:33] CMPeng commented on #686
Hi @andresfchamorro Both of our teammates tried your workflow on Windows env without arcpy geometry engines (for point, polyline and polygon shapefiles), and they found the bug non-reproducible. Can you please provide your shapefile here? Maybe it is the file specific problem. Thanks!

[2021-03-31 23:23] mohi9282 commented on #921
@jdcarls2 - thank you for reporting the issue. We will track it on geosaurus.

[2021-04-01 00:54] isaacviel commented on #934
Thanks @mohi9282!

[2021-04-01 09:02] achapkowski commented on #947
You are not passing in the f=json parameter needed to get a JSON response from the REST API.  If you want to work directly with the REST API, I suggest you take a look here: https://developers.arcgis.com/rest/

[2021-04-01 14:41] UnderJollyRoger commented on #947
Thanks for your help. I'm not familiar enough with ArcGIS API for Python to get through this without millions of questions. I'm re-posting the current script I'm working with because I noticed I had an extra variable in the last one.
[code]

As it is now it will throw the JSONDecodeError on the ```data=full_file``` line. Thanks, I'm looking into where the ```f=json``` parameter is supposed to go.

[2021-04-01 18:22] Detteor commented on #947
After seeing the issue on ESRI community forum, I wanted to show you how I am handling the issue. You can still publish without analyzing it, if you are happy with your data. Also, you can use pandas DataFrames to manage/change your data. Another solution using the 'ContentManager' class is to use the method 'import_data()', but this is limited to a 1,000 rows.

I am hoping someone can provide a r

[2021-04-01 20:23] jyaistMap commented on #930
hey @isaacviel
 * we're looking into this and some PRs will be coming up soon to address many of the bad links

[2021-04-01 20:41] isaacviel commented on #930
Thanks @jyaistMap!

[2021-04-01 20:46] UnderJollyRoger commented on #947
@Detteor  Thanks for the input. I ran what you have from a Pro Notebook once and I was successful from start to finish (with some modifications). I ran the same thing again. Fails. Why so fragile?
[code]

[code]

[2021-04-01 23:37] isaacviel commented on #930
Just noticed today's run of the link checker now shows 3639 errors for Python after yesterday's release so be sure to check out the newest data.

Thanks!

[2021-04-02 03:59] priyankatuteja commented on #930
@isaacviel The bad links are mainly because of the following reasons:
1. the api reference page earlier had a different link. Recently, the learn module has been reorganized and a toc is added hence the links are changed from https://developers.arcgis.com/python/api-reference/arcgis.learn.html to https://developers.arcgis.com/python/api-reference/arcgis.learn.toc.html
2. our guides do not provide

[2021-04-02 23:43] CMPeng commented on #686
Also @andresfchamorro if you can please try updating your API version to 1.8.5 or above, and try the same example with newer versions, the issue might have been fixed already.

[2021-04-04 03:07] Detteor commented on #947
@UnderJollyRoger At this point, I would try to install a new environment for python. I have never had very good luck with using the default environment created by ArcGIS Pro. I personally use anaconda to create new environments and to install new packages.

Once you have a new environment setup, if you have ArcGIS Pro 2.7 installed, you can use `conda install -c esri arcgispro`
(this will install

[2021-04-05 15:40] UnderJollyRoger commented on #947
@Detteor
Good to know. I'm already using a conda environment in Pro 2.7.2 as fas as I can tell.
[code]

When I did the install commands the Python API was updated, but arcpy 2.7 was already installed.
[code]

I'm connected to the same environment in my IDE. This is from Visual Studio 2019.
![image](https://user-images.githubusercontent.com/32503258/113591703-dbaee680-95f9-11eb-908b-ce521be933d3.pn

[2021-04-05 17:58] shingike commented on #905
I have exact same issue using API version '1.8.4'.  It was not happening until a few weeks ago. Now, it is causing a major issue with our process. SpatialDataFrame.from_layer(item.layers[0]) throws out with invalid token exception error.

I am using the living atlas layer: https://services.arcgis.com/P3ePLMYs2RVChkJx/arcgis/rest/services/USA_States_Generalized/FeatureServer/0

[code]
**Exception:

[2021-04-05 19:14] jyaistMap commented on #930
@isaacviel
  * the number appears larger than direct impact in that any bad link on any API Reference page is reported for each release:
![image](https://user-images.githubusercontent.com/1399179/113614851-ea9c9580-9607-11eb-85c8-98da35301016.png)
    * is there any way the report can skip bad links from previous releases?
  * to add onto @priyankatuteja's point in bullet 2 above, many bad links a

[2021-04-05 21:02] isaacviel commented on #930
@jyaistMap We can add past releases to the "do not check" list as a last resort if it's not possible to fix the links and republish?

[2021-04-05 21:12] UnderJollyRoger commented on #947
@Detteor
By the way, [this](https://www.esri.com/arcgis-blog/products/api-python/administration/python-api-core-concepts-part-2/) is from an ESRI blog: *it is not recommended that you have both Anaconda and ArcGIS Pro installed on a single machine*

[2021-04-06 02:42] Detteor commented on #947
@UnderJollyRoger

This Definitely might have been the case when using ArcGIS Pro 2.2, but now with the metapackages and being able to install arcpy in an environment it doesn't seem as impactful anymore. ENV and PATH variables are always a pain in windows, so I don't even let conda set its own variables. Also, they don't want you to mess with the base install since that can cause a lot of issues,

[2021-04-06 14:09] shingike commented on #905
I am experiencing this issue in the enterprise portal only. If I log in using g = GIS(), there is no issue.

[2021-04-06 14:22] achapkowski commented on #905
@shingike the ` SpatialDataFrame` class is deprecated.  It is better to do something like this:

[code]

[2021-04-06 18:42] UnderJollyRoger commented on #947
@Detteor  Thanks a lot for the knowledge transfer! So, using Anaconda I created an environment which has the following packages. From VS Code I then ran the script you provided me. It's running from ```env1```, and I assume it has all the relevant modules. It runs until it hits the JSONDecodeError on  ```uDF.spatial.to_featurelayer(f'Vaccine Information{dStr}', gisE)```. That's where it was failin

[2021-04-06 18:55] shingike commented on #905
Unfortunately, it is not working. I still get an Invalid Token error message.
[code]

[2021-04-06 21:59] drewlevitt opened #976 ""Palette" is misspelled"
**Describe the bug**
In a number of locations within the API, "palette" is misspelled as "pallette". For example, in `arcgis.features.GeoAccessor.plot()`, there is an optional keyword argument `pallette`. This misspelling makes it likely that English speakers familiar with the correct spelling will pass a `palette` keyword argument which will crash the method call.

**Expected behavior**
One l, tw

[2021-04-07 02:04] shingike commented on #479
@DavidJVitale, Do you have arcgis-map-ipywidget for arcgis python API v1.8.5? It was working until 1.8.4, but with the new 1.8.5 release, the widget is no longer working.

[2021-04-07 05:42] priyankatuteja commented on #976
@achapkowski We should consider fixing the spelling from pallette to palette. At the same time for backward compatibility, we could support both keywords in our code.

@drewlevitt Thanks for reporting it.

[2021-04-08 00:32] achapkowski commented on #976
This is resolved in the next release 1.9.0

[2021-04-08 00:32] #976 closed

[2021-04-08 00:32] achapkowski commented on #932
This is resolve in version 1.9.0

[2021-04-08 00:32] #932 closed

[2021-04-08 23:16] sms8812 opened #978 "Can't load spatial dataframe into sql using 'to_sql()'"
**Describe the bug**
I can't get a spatial dataframe to load into sql using 'to_sql()'

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]
**Expected behavior**
I can load and read a regular pandas dataframe in sqlite3. Is it a bug or is there a workaround? Is there a library other than sqlite3 that works with spatial dataframes?

**Platform (please complete the following infor

[2021-04-09 05:18] rohitgeo commented on #479
@shingike the issue should be resolved now. Can you please re-try?

[2021-04-09 05:18] #479 closed

[2021-04-09 09:36] achapkowski commented on #978
This is an issue with sqlite not knowing how to convert the Geometry datatype and isn't anything the SeDF is doing wrong.  The solution might be to use the to_featureclass and export the data to a geopackage, which is a sqlite database.

[2021-04-09 15:04] sms8812 commented on #978
Thanks Andrew!

From: Andrew ***@***.***>
Sent: Friday, April 9, 2021 2:37 AM
To: Esri/arcgis-python-api ***@***.***>
Cc: Stella Spring ***@***.***>; Author ***@***.***>
Subject: Re: [Esri/arcgis-python-api] Can't load spatial dataframe into sql using 'to_sql()' (#978)

This is an issue with sqlite not knowing how to convert the Geometry datatype and isn't anything the SeDF is doing wrong. The sol

[2021-04-09 16:19] #978 closed

[2021-04-13 07:23] LinoSun opened #980 "Python Raster Function's .vectorize() method returned nothing"
**Describe the bug**
Error appers when I use "Detect Objects Using Deep Learning" in ArcGIS Pro, the model is YOLOv3 which trained by ArcGIS API for Python.

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]
**Screenshots**
![image](https://user-images.githubusercontent.com/44741345/114512603-dd1c8680-9c6b-11eb-81a8-04e1724121b3.png)

**Expected behavior**
How to make the YOLO

[2021-04-14 03:16] williehk opened #982 "Certain characters in SDF sets off UTF8 decoding error which causes to_featurelayer to fail"
**Describe the bug**
Certain characters in SDF column sets off UTF8 decoding error which causes to_featurelayer to fail

**To Reproduce**
Export from SDF to feature layer a SDF with a column containing the UTF8 character hex code point 23FB7
http://www.ltg.ed.ac.uk/~richard/utf-8.cgi?input=23FB7&mode=hex

https://services8.arcgis.com/PXQv9PaDJHzt8rp0/arcgis/rest/services/Merge_Display_0227_test_vi

[2021-04-14 16:28] LuisRguezEsriSpain commented on #821
With this url, user and password:
portal_url = "https://pythonapi.playground.esri.com/portal"
portal_user = "arcgis_python"
portal_pwd = "amazing_arcgis_123"

I get this error message:

Invalid username or password.

[2021-04-15 19:59] BrettFrahm opened #985 "RoleManager.all() - Return Role ID"
**Is your feature request related to a problem? Please describe.**
not related to existing bug/problem

[code]

**Describe the solution you'd like**
In the RoleManager.all() function it would be very useful if it returned the roleid. All I'm getting right now is the name and description.

**Describe alternatives you've considered**
Need to manually keep a list of roleids within my script.

**Addit

[2021-04-16 04:02] scdub commented on #982
@williehk Thank you for the report. This issue is in the `.da` cursors of ArcPy, and will be addressed in Pro 2.8.

[2021-04-16 10:46] achapkowski commented on #985
When you get the role object back there is a property called `role_id` that can return the `id` value you need.

[code]

[2021-04-16 10:46] #985 closed

[2021-04-19 08:24] efkopru commented on #941
Might be a solution:
1 - Clone the python environment from ArcGIS Pro to be able to see on your VSCode kernels.
2 - Select this clone environment on VSCode and run ArcGIS mapping functions.

[2021-04-19 16:05] jacobdadams opened #986 "Expose an item's folder item as a property of the item for better access to human-readable folder title"
**Is your feature request related to a problem? Please describe.**
Currently, getting the folder name for an item requires custom helper functions or dense comprehensions, such as this from the [cloning content guide](https://developers.arcgis.com/python/guide/cloning-content/):

[code]

**Describe the solution you'd like**
Exposing the folder object as a property of the item object could be more

[2021-04-20 10:51] priyankatuteja commented on #821
cc @rwmajor2  Could you look into this

[2021-04-20 14:05] AdilGambarov commented on #821
I've had the same problem with accessing   "https://pythonapi.playground.esri.com/portal".
Any progress on the issue?

[2021-04-22 17:43] CauaneAndrade opened #989 "the "analyze changes using CCDC" feature, caused error 999999"
**Describe the bug**
Using the `analyze_changes_using_ccdc` function from the package `arcgis.raster.analytics.analyze_changes_using_ccdc`, it raised an error that is not handled by the Arcgis Python API.

**To Reproduce**
I used Jupyter Notebook outside of arcgis pro to run the codes below.

Steps to reproduce the behavior:
[code]
error:
[code]

**Expected behavior**
Function evaluates changes in

[2021-04-23 19:19] d-wasserman commented on #923
I think generally, the underlying issues with exports also seem to be related to the dependence on `arcpy.da.ExtendTable`. Having used this function on and off over 5 years, I think I am curious why cursor based writing is not considered?
I can file a new issue on this, but this one had an old colleague on it.

[2021-04-26 01:28] simongis opened #990 "How to encrypt password?"
_As a sysadmin, I want to automate updating the database connection details in the ArcGIS Server data store settings, so that my services will continue to access the data in the database.  I want to host this in Lambda and avoid using Arcpy._

This[ ArcGIS Python API sample ](https://support.esri.com/en/technical-article/000022551)from Esri, looks very close to what we need.  However, it makes no

[2021-04-26 14:23] nfink-nlt opened #991 "arcgis.gis.Item.publish with Item ID Does Not Publish with Specified ID"
**Describe the bug**
When attempting to republish a layer with the same item ID in ArcGIS Online, a new item ID is generated. Documents specify you can select the item ID: https://developers.arcgis.com/python/api-reference/arcgis.gis.toc.html?highlight=publish#arcgis.gis.Item.publish

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
Expected that the feature service w

[2021-04-27 10:28] achapkowski commented on #991
We have resolved this issue in the next release already.  Thank you for reporting it.

[2021-04-27 10:28] #991 closed

[2021-04-27 18:33] Detteor commented on #886
@achapkowski @jeweinberg

I was having the same error when attempting to geocode a bunch of addresses, so I edited my _accessor.py file as such:
[code]

Sorry for all the extra whitespace.

[2021-04-27 18:43] Detteor commented on #947
@UnderJollyRoger

Most of the time the script runs fine for me, but every once in while when trying to add to the Enterprise Portal it starts to have issues. The issues are not present when I submit anything to AGOL.

I chalked it up to my enterprise being at that age that things start to go wrong with the more modern tooling.

[2021-04-27 21:13] UnderJollyRoger commented on #947
@Detteor
Same. With AGOL I can add and publish consistently. With Enterprise it fails 9/10. I have a case going with an ESRI analyst. He found that the POST request to the /addItem endpoint of the Portal is being redirected.

I'll report back when I hear a resolution.

[2021-04-28 12:30] rwmajor2 commented on #821
@priyankatuteja Password reset.

[2021-04-28 12:30] #821 closed

[2021-04-28 12:40] rwmajor2 commented on #939
@CMPeng Service is now running with appropriate license.

[2021-04-28 12:40] #939 closed

[2021-04-28 21:37] spaceof7 commented on #776
I get this error after upgrading from 1.8.1 to 1.8.5.  I can query layers In our organization but cannot query layers published by another organization.  downgrading to 1.8.1 allows me to seuccessfully query again.

Im trying to query the following layer as well as a couple other hosted by King County.

'https://gisdata.kingcounty.gov/arcgis/rest/services/OpenDataPortal/property__parcel_address_ar

[2021-04-30 09:33] mrkjns opened #995 "Jupyter Lab, unable to use Map Widget"
When using Jupyter Lab, I'm unable to instansiate the map widget, against either AGOL or ArcGIS Enterprise.  I've followed the steps provided here:
https://developers.arcgis.com/python/guide/using-the-jupyter-lab-environment/
However, I seem unable to align the arcgis-map-ipywidget with the arcgis api.  The arcgis api has been updated to 1.8.5, however, through npm etc. i cannot seem to manage to

[2021-04-30 15:06] esristeinicke opened #996 "Working with SSL certificates not possible using high available portal site"
**Describe the bug**
The **Security > SSLCertificates** resource is not available under the Security section when using a high available portal site and have to be accessed under the **Machines > Machine_FQDN > SSLCertificates** section.

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]
**Expected behavior**
Also support **SSLCertificates** when using high available portal si

[2021-04-30 19:03] bixb0012 commented on #927
OK, I worked with Esri Support to isolate why I see this behavior still but some others don't.  It relates to the authentication settings for GIS Server.
[#BUG-000138559 Unable to authenticate with ArcGIS API for Python when using 'GIS Server' as Authentication Tier and 'Windows Domain' as User Store. ](https://my.esri.com/#/support/bugs/BUG-000138559)

[2021-05-04 18:27] kreetichandran commented on #989
@CauaneAndrade  I tried the same steps with a dataset I had, and I can run the **analyze_changes_using_ccdc** function successfully.

Could you kindly run this code (`arcgis.env.verbose=True`) first and then the function.
It will give us more messages from the service tool.

Could you please share a sample dataset I could use to repro this issue and also the version of raster analysis server are y

[2021-05-05 10:12] MattBC90 opened #999 "Python packages forced downgrade??"
Hey folks, so I have an issue.  I'm new here and not an expert, so please be gentle.

I am trying to do a bunch of deep learning stuff using ArcGIS Pro 2.7.2 and/or Jupyter Notebook importing ArcGIS libraries.  I keep getting snagged and it seems to always be related to having python packages installed into my (cloned) environment that I cannot easily update.

The first updating issue is that I ca

[2021-05-05 12:56] jhuillery commented on #771
This issue was never fixed. It is still active

[2021-05-05 13:40] achapkowski commented on #771
The issue is resolved in the next release, which will be 1.9.0.

[2021-05-05 14:51] bidhya opened #1002 "Error displaying widget: model not found"
**Describe the bug**
A clear and concise description of what the bug is.
I followed the instructions from here: https://developers.arcgis.com/python/guide/using-the-jupyter-lab-environment/ to setup the arcgis python api and the widgets. However, I get the "Error displaying widget: model not found" error.

Same behaviour in Windows and Linux with Python 3.7.9 and 3.8.8 Here is a description of clo

[2021-05-06 05:45] MattBC90 commented on #999
Just looking into it, I think I have a better idea of the issue.

Basically, I think that there are some compatibility problems going on that involve some Deep Learning conda packages that only work with py3.7, but when updating all via ArcGIS Pro python manager, it updates python to 3.9 along with only a few other packages that are compatible with 3.9 only.  Or in other words, trying to easily up

[2021-05-06 14:11] Detteor commented on #999
I wrote a couple of comments about this in another thread on here.
[First Comment](https://github.com/Esri/arcgis-python-api/issues/947#issuecomment-812962566)
[Second Comment](https://github.com/Esri/arcgis-python-api/issues/947#issuecomment-813781305)

TL;DR Create a new environment with `conda create -n myenv python=3.7`. This will make sure that the packages don't upgrade the version of python

[2021-05-07 05:08] MattBC90 commented on #999
I eventually found some info last night about how the ESRI Deep Learning packages don't support RTX 3000 series GPUs yet, which I am using, and they listed many of the technical problems I was encountering.  So it appears to be a software-hardware compatibility issue, which is incredibly lame to be honest since these cards have been out for the better part of a year.

The other issue is that the E

[2021-05-07 19:03] Detteor commented on #999
Good to know. I personally use a 2080 for most of my Deep Learning needs.

When I first started to use the DL capabilities in 2.6, I started by using the [Deep Learning Framework](https://github.com/Esri/deep-learning-frameworks) from ESRI. After becoming very frustrated by it and also wanting to use Linux for certain task, I noticed that they started to release metapackages on anaconda. These pac

[2021-05-10 11:30] simongis commented on #321
Having some issues with item.usage returning 'list index out of range'

[code]

It will loop through my items and work for some, and then eventually return a 'list index out of range.
[Example item](https://www.arcgis.com/home/item.html?id=b2505177db7f4f1f9a7d62e1bba6b53b) it has an issue with.

Have tried using different time periods, same items return the same error.

Also spotted similar issue

[2021-05-10 23:37] Morteza-Esfandiari opened #1007 "perdict_las not working on Linux"
**Describe the bug**
I have trained PointCNN over the DALES dataset and I am trying to predict my own dataset (I have remapped the classes into ground and non-ground only).
The model gets trained and fits perfectly, however, I cannot predict any .las file. When I use predict_las function the .h5 files get generated but it suddenly stops and nothing happens. I also consider print_metrics as True an

[2021-05-12 06:21] #980 closed

[2021-05-13 16:00] maartentromp commented on #337
In the latest version this is unfortunately still not fixed. Every time I have to change the above code to get valid results of e.g. the # of services in a webmap.

[2021-05-13 21:20] koelker12 commented on #771
Is there a release window or timeframe for 1.9.0?

[2021-05-14 10:00] achapkowski commented on #771
Tentatively around UC 2021.

[2021-05-14 10:03] achapkowski commented on #982
@williehk I am going to close this issue since it is not an ArcGIS API for Python issue.  Thank you for reporting it!

[2021-05-14 10:03] #982 closed

[2021-05-17 16:44] dstubbins opened #1008 "Docker image referenced in install guide is not available"
The docker image referenced in the install guide seems no longer to be available
https://hub.docker.com/r/esridocker/arcgis-api-python-notebook/

can it be updated or removed as an install option

[2021-05-17 17:23] achapkowski commented on #1008
@rwmajor2 and @mohi9282 can you please take a look.

[2021-05-18 18:50] mamesser opened #1009 "User Delete 1.8.5 Error"
**Describe the bug**
user.delete() returns not licensed by user (Error code: 400) - See attachment

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
see attachment

**Screenshots**
![deleteUserError](https://user-images.githubusercontent.com/7096492/118706302-70e6f280-b7d6-11eb-97df-8bde388ee270.png)

**Expected behavior**
User would be deleted.

**Platform (please complete the foll

[2021-05-19 13:02] cdflint opened #1010 "arcgispro-py3 missing bs4 by default"
The default arcgispro-py3 environment in ArcGIS Pro v2.8.0 is missing bs4 as required by arcgis\gis\_impl\_con\connection.py in _oauth_token(self)

Steps to reproduce the behavior:
Clone or use default arcgispro-py3 environment.

Attempt to connect to GIS enterprise portal or AGOL with locally stored credentials or similar means to trigger _oauth_token method.

error:
![image](https://user-images.

[2021-05-19 14:34] priyankatuteja commented on #999
@MattBC90 My understanding is that you are trying upgrade arcgis version in your cloned environment of pro 2.7.2. The desired arcgis version is 1.8.5 and when you go ahead and update it, some packages get downgraded and you are not able to run Pro Embedded Notebook successfully, w.r.t displaying images using show_batch, lr_find or show_results. Is my understanding correct?

[2021-05-20 01:58] ErikHiCoGIS commented on #941
Default env map widget was working in VS Code with Pro 2.7.3. No longer works with default env or clones after upgrade to Pro 2.8.

VS code as a full service IDE was great for ESRI JN dev b/c of rt. click and open from anywhere without having to take separate steps every time a NB required opening, editing, or running.

Is there any indication on why it isn't supported/throwing the error? Console

[2021-05-24 14:43] wgrunberg opened #1011 "arcgis.geometry.areas_and_lengths() bugged on ArcGIS Online Notebooks?"
Is there a bug in the ArcGIS Online Notebook implementation (API v1.8.4 at posting time) of the arcgis.geometry.areas_and_lengths() function or is the API description missing vital information?

Through a lot of trial and error I figured out a set of parameters that ArcGIS Online Notebook Standard (no ArcPy) would accept:
- For length_unit it will only accept an ID number - e.g. 9002 - not esriSRU

[2021-05-25 07:58] schenardi commented on #928
I was not successful with the hints of @priyankatuteja to make arcgis deep learning running in colab. Since I do not want to move everything inside ArcGIS Notebook server (for cost reason but also because I do not have it in my developer account) it would be very desirable that Esri supports common patterns/environments for python and machine learning.

We all want to bring GIS and ML together and

[2021-05-25 11:19] simongis commented on #420
Would be great to see a snippet of how to paginate using the advanced_search.  Struggling a bit!

[2021-05-26 13:41] Biboba opened #1015 "User provider property is None"
**Describe the bug**
Whenever I try to access user "provider" property from user search results, I get "None" value:
https://developers.arcgis.com/python/api-reference/arcgis.gis.toc.html#user

**To Reproduce**
Steps to reproduce the behavior:
[code]
Does not return an error but the list below.
[code]
When I debug it, I can see that the provider property is filled by "arcgis" or "enterprise"  but

[2021-05-26 18:23] runneals commented on #309
This issue still persists in 10.8.1. I'm trying to hit Portal Health Check (/portal/portaladmin/healthCheck) using a simple fetch and it's not returning either the Access-Control-Allow-Origin or Access-Control-Allow-Credentials like ArcGIS Server does. I can't set this at the IIS application level, as it's already set within Portal and will break applications. Likewise, what do I do when ArcGIS Se

[2021-05-27 02:03] powersparks opened #1017 "arcgis-map-ipywidget@1.8.5 is not compatible with the current JupyterLab version"
The python notebook extension works fine.. however, enabling the widget in Jupiter labs version 3.0.14 fails.
I downgraded the Jupiter labs from 3.0.14 to 2.3.1 to install in a different conda environment.
it's missing some of the nice code highlighting that comes with 3.0.14, and other things, so please fix this soon.

Maybe this is just a matter of testing to see if the version works in the late

[2021-05-28 17:40] powersparks opened #1020 "JupyterLab and Jupyter Notebook static map mode option"
When sharing notebooks, the interactive map doesn't render for someone that just wants to read our notebooks without installing all of the packages. Analysis performed on the map can be done against the static arcgis server maps as a print task, however, this is a bit more involved and could be simplified.

[code]
![image](https://user-images.githubusercontent.com/12630742/120021619-0298f180-bf87-

[2021-06-01 16:27] powersparks opened #1022 "The "import-toolbox" Code Generation For a Geoprocessing Service Parameter Fails: un-escaped default path name"
When using the import-toolbox, the code generation for a Geoprocessing Service breaks if the service provides a string default value, e.g., C:\file-path, that is not properly escaped, C:\\file-path or C:./file-path

To reproduce, create a geoprocessing service with a parameter that contains a default value as a string, and add a file path with just one back slash.

<img width="1021" alt="Capture"

[2021-06-02 18:24] esristeinicke commented on #1008
@dstubbins It seems the repo was changed from public to private.  This has been fixed. Can you please try again?

[2021-06-10 09:37] Biboba commented on #417
Hello,

I have the same issue using arcgis version "1.8.5.post3".

Using an administrator account, I would like to share an item that belongs to another user to a group with editing capabilities.
While it is working on the Portal web interface, it does not work with ArcGIS API for Python.
Debugging it, I noticed that the parameter 'confirmItemControl' is only sent if the item is owned by the user:

[2021-06-17 13:25] joelhempenius opened #1027 "error when updating federated server url"
**Describe the bug**
I cannot update the url of a federated arcgis server

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Expected behavior**
the url is updated, so that i can publish a service definition file to an endpoint with administrative access enabled

**Additional context**
I opened C:\

[2021-06-17 13:26] joelhempenius commented on #1027
error message contains a wrong url, please ignore that

[2021-06-17 14:24] achapkowski commented on #1027
Thanks for reporting, we'll take a look at this.

[2021-06-17 19:27] akhilnegi opened #1029 "Update doccano windows implementation to use latest compatible version of doccano."
This issue is to track the updated implementation of Doccano on windows.

[2021-06-19 08:22] LinoSun opened #1032 "Issues about Train arcgis.learn models on multiple GPUs"
**Describe the bug**
Hi there,I am tring using multiple GPUs to train arcgis.learn models, but got error follows:
![image](https://user-images.githubusercontent.com/44741345/122635996-7eff9a00-d119-11eb-9af8-2e46c01a1d75.png)
Can somebody help me! SOS!!!!!

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]
**Screenshots**
![image](https://user-images.githubusercontent.com/4474

[2021-06-21 14:21] cvricella2 commented on #1009
This going to get fixed anytime soon? @EsriGithub

[2021-06-23 21:38] jyaistMap commented on #1027
Fixed for the next upcoming release.

[2021-06-23 21:38] #1027 closed

[2021-06-23 21:40] jyaistMap commented on #1015
Closing per above PR.

[2021-06-23 21:40] #1015 closed

[2021-06-23 22:33] mohi9282 commented on #1020
@powersparks - thank you for suggesting the enhancement. One approach to generating a static map would be to use the [take_screenshot()](https://developers.arcgis.com/python/api-reference/arcgis.widgets.html?highlight=take_screenshot#arcgis.widgets.MapView.take_screenshot) method. The `set_as_preview` parameter, which defaults to True, will set the screenshot as a static image preview in the cell

[2021-06-23 23:32] CMPeng commented on #1017
Hi @powersparks the jupyter labs (v=3.0.14) works on my local machine when I installed arcgis within anaconda (without Pro). Can you please provide more details to your repro case?
1. IS it on a Pro env? If yes, did you work on a cloned python env?
2. Have you tried updating your arcgis API version to the latest?
Thanks for your feedback!

[2021-06-23 23:46] #1020 closed

[2021-06-24 09:10] #1032 closed

[2021-06-25 03:53] nodrogl opened #1037 "Zip file is invalid - can't open after downloading"
**Describe the bug**
https://github.com/Esri/arcgis-python-api/releases/tag/v1.8.5/source code.zip appears to be inavlid,

Can't open file after downloading

**Platform (please complete the following information):**
 - OS: Windows 8
 - Browser chrome

**Additional context**
Add any other context about the problem here, attachments etc.

[2021-06-25 07:55] dstubbins commented on #1008
yep, thats fixed,

[2021-06-29 14:12] Clives-online opened #1043 "'Server' object has no attribute 'services'"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
[code]
error:
[code]
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Expected behavior**
I followed the ESRI instruction for the arcgis module, expected a list of Services

**Platform (please complete the following information):**
 - OS: [Windo

[2021-06-30 05:54] moonlanderr opened #1044 "shap output of actual values of feature importance for individual row/sample of the dataset"
Currently the shap output only a chart of the feature importance for each sample or row of the dataset. However if we can get the values of the feature importance for each row we can create layers of the feature importance for each predictors for the entire area, and understand each importance spatially.

This enhancement when used with automl would be an interesting addition in a spatial context.

[2021-06-30 06:00] moonlanderr commented on #1044
to be recreated in new repo for automl

[2021-06-30 06:00] #1044 closed

[2021-07-01 17:13] achapkowski commented on #1043
@Clives-online 1.8.3 is fairly old, please try updating the library.

[2021-07-01 18:10] achapkowski commented on #1022
@powersparks unless the service is protected/hidden, the URL does not exist.

![image](https://user-images.githubusercontent.com/5131271/124171028-06cc9900-da76-11eb-8ed8-1ba531f88324.png)